body, html{width:100%;height:100%;}
body{background:url(../images/D-bg1.jpg) no-repeat;overflow:hidden;background-size:640px 100%;}
/* 加载页 */
.m-loading{position:relative;width:640px;background:url(../images/D-bg1.png) no-repeat;height:100%;background-size:640px 100%;}
.m-loading-cont{position:absolute;top:50%;left:50%;width:345px;height:200px;margin:-100px 0 0 -172px;background:url(../images/D-loading.gif) left top no-repeat;}
/* 首页 */
.m-box1{position:relative;width:640px;height:100%;background:url(../images/m-box1-bg.gif) no-repeat;overflow:hidden;background-size:640px 100%;}
.m-box1-bg{background:url(../images/D-bg1.png) no-repeat;position:absolute;left:0;top:0;height:100%;width:100%;background-size:640px 100%;}
.m-box1-ani1{height:258px;width:467px;position:absolute;top:440px;left:40px;-webkit-transform:scale(5);}
.m-box1-ani11{height:100%;background:url(../images/D-index003.png) left top no-repeat;}
.m-ani-pos{position:absolute;background-position:left top;background-repeat:no-repeat;}
.m-box1-ani-text1{height:113px;width:103px;left:84px;top:8px;background-image:url(../images/D-text004.png);}
.m-box1-ani-text2{height: 119px;width:119px;left:204px;top:2px;background-image:url(../images/D-text005.png);}
.m-box1-ani-text3{height:116px;width: 116px;left: 76px;top:151px;background-image:url(../images/D-text006.png);}
.m-box1-ani-text4{height:114px;width:112px;left:208px;top:133px;background-image:url(../images/D-text007.png);}

.m-box1-ani2{top:200px;right:31px;width:248px;height:236px;background-image:url(../images/D-text015.png);/**/-webkit-transform:translateX(300px);}
.m-box1-ani2drop{height:100%;width:126px;background:url(../images/D-text008.png) left top no-repeat;opacity:0;}
.m-box1-ani3{top:55px;right:66px;width:230px;height:169px;background-image:url(../images/D-text003.png);-webkit-transform:translateY(-300px);}

.m-box1-ani4{top:618px;left:50%;margin-left:-137px;width:274px;height:43px;background-image:url(../images/D-text001.png);}
.m-box1-ani5{top:676px;left:50%;margin-left:-241px;width:482px;height:44px;background-image:url(../images/D-text002.png);}
.m-box1-ani6{top:780px;left:50%;margin-left:-132px;width:265px;height:97px;background-image:url(../images/D-btn001.png);}
.opanone{opacity:0;}

/*选择男孩女孩*/
.m-box2{height:100%;position:relative;overflow:hidden;background: url(../images/D-bg1.png) no-repeat;background-size:640px 100%;}
.m-box2-top{height:80px;width:227px;left:50%;top:160px;margin-left:-114px;background-image:url(../images/D-text009.png);-webkit-transform: perspective(800px) rotateY(0) rotateX(0) scaleY(1);}
.m-box2-contain{height:266px;width:100%;top:50%;left:0;margin-top:-133px;}
.m-box2-c{height:256px;width:256px;background-position:left top;background-repeat:no-repeat;position:relative;}
.m-box2-boy{margin-left:38px;background-image:url(../images/D-box-boys1.gif);}
.m-box2-bcount{background-image:url(../images/D-bg-boy1.png);}
.m-box2-girl{margin-right:30px;background-image:url(../images/D-box-grils1.gif);}
.m-box2-comc{height:220px;width:220px;background-position:left top;background-repeat:no-repeat;margin:20px;}
.m-box2-gcount{background-image:url(../images/D-bg-gril1.png);}

/*男孩*/
.m-box3{height:100%;background-position:left top;background-repeat:no-repeat;}
.m-box3-1{background-image:url(../images/select-boy.gif);background-size:640px 100%;}
/*
.m-box3-comc{height:220px;width:220px;margin:21px;background-position:left top;background-repeat:no-repeat;}*/
.m-box3-count{height:263px;width:266px;background:url(../images/D-box-grils2.gif) left top no-repeat;display:inline-block;border-top:1px solid transparent;margin-top:170px;background-size:cover;}

.m-box3-drop{height:797px;width:569px;background:url(../images/D-box-boyc.gif) left top no-repeat;border-top:1px solid transparent;position:absolute;left:50%;top:50%;margin:-348px 0 0 -320px;}

.m-box3-text{display:inline-block;background-image:url(../images/D-text010.png);height:55px;width:415px;margin-top:170px;-webkit-transform-origin:left top;-webkit-transform:rotate(0);}

/*女孩*/
.m-box3-2{background-image:url(../images/D-bg3.png);background-size:640px 100%;overflow:hidden;}
.m-box3-wrap{background-image:url(../images/D-bg3.png);background-size:640px 100%;height:100%;overflow:hidden;}
.m-box3-comg{background-image:url(../images/D-bg-gril1.png);}
.m-box3-gtext{margin-top:84px;}
.m-box3-text1,
.m-box3-text2,
.m-box3-text3{display:inline-block;height:53px;margin-bottom:20px;background-position:center center;background-repeat:no-repeat;width:100%;}
.m-box3-text1{background-image:url(../images/D-text011.png);}
.m-box3-text2{background-image:url(../images/D-text012.png);}
.m-box3-text3{background-image:url(../images/D-text013.png);}
.m-box3-gbtn{height:97px;width:265px;display:inline-block;background-image:url(../images/D-btn002.png);margin-top:30px;-webkit-transform:scale(4) rotate(160deg);}
.m-box3-gz{height:100%;background:url(../images/D-text014.png) center center no-repeat;-webkit-transform:scale(5);}

/*帮助页面*/
.m-box4{background:url(../images/D-bg8.png) left top no-repeat;position:relative;height:100%;background-size:640px 100%;}
.m-box4_text{display:inline-block;margin:560px 0 100px;background:url(../images/D-text018.png) left top no-repeat;width:348px;height:93px;-webkit-transform:rotate(0deg);}
.m-box4_move{display:inline-block;background:url(../images/D-box4-hand1.png) left top no-repeat;width:592px;height:144px;}

/*挨打*/
.m-box5{background:url(../images/D-bg9.jpg) left top no-repeat;height:100%;background-size:640px 100%;position:relative;}
.m-box5-score{position:absolute;left:84px;top:30px;height:40px;width:140px;text-align:center;}
.m-box5-score-num{height:40px;width:32px;display:inline-block;background-position:left top;background-repeat:no-repeat;}
.m-box5-score0{background-image:url(../images/D-score-num0.png);}
.m-box5-score1{background-image:url(../images/D-score-num1.png);}
.m-box5-score2{background-image:url(../images/D-score-num2.png);}
.m-box5-score3{background-image:url(../images/D-score-num3.png);}
.m-box5-score4{background-image:url(../images/D-score-num4.png);}
.m-box5-score5{background-image:url(../images/D-score-num5.png);}
.m-box5-tab{width:100%;position:absolute;height:214px;left:0;bottom:0;background:url(../images/D-bg10.png) center center no-repeat;}
.m-box5-boy{position:absolute;left:0;bottom:0;width:640px;height:487px;background-repeat:no-repeat;background-image:url(../images/D-beaten9.png);}
.m-box5-boy.beatenl{background-image:url(../images/D-beaten8.png);}
.m-box5-boy.beatenr{background-image:url(../images/D-beaten9.png);}

.m-box5-boy.boyL1{background-image:url(../images/D-boyL1.png);}
.m-box5-boy.boyL2{background-image:url(../images/D-boyL2.png);}
.m-box5-boy.boyR1{background-image:url(../images/D-boyR1.png);}
.m-box5-boy.boyR2{background-image:url(../images/D-boyR2.png);}


.m-box5-father{position:absolute;left:0;top:50%;margin-top:-375px;width:640px;height:750px;background-repeat:no-repeat;background-image:url(../images/D-beaten-f3.png);}
.m-box5-father.fatherL{background-image:url(../images/D-fatherL.png);}
.m-box5-father.fatherR{background-image:url(../images/D-fatherR.png);}
.m-box5-on1{background-position:0 0;}
.m-box5-on2{background-position:-640px 0;}
.m-box5-on3{background-position:-1280px 0;}
.m-box5-on4{background-position:-1920px 0;}

.m-box5-pre{position:absolute;left:50%;top:60%;width:231px;height:122px;margin-left:-116px;background:url(../images/D-beaten-r1.png) left top no-repeat;}
.m-box5-ftell{position:absolute;right:80px;top:118px;width:225px;height:135px;background:url(../images/D-beaten-b1.png) left top no-repeat;}

/*得分页面*/
.m-box6{background:url(../images/D-bg1.png) left top no-repeat;position:relative;height:100%;background-size:640px 100%;}
.m-box6-count{background:url(../images/D-score-bg1.png) left top no-repeat;width:590px;height:286px;position:absolute;left:50%;top:50%;margin:-143px 0 0 -295px;-webkit-transform:translateX(-1000px) rotate(10deg);}
.m-box6-text{display:inline-block;background-position:left top;background-repeat:no-repeat;width:518px;height:201px;margin-top:142px;}
.m-box6.success .m-box6-text{background-image:url(../images/D-score-text2.png);}
.m-box6.fail .m-box6-text{background-image:url(../images/D-score-text1.png);}
.m-box6-photo{height:144px;width:144px;/*background:url(../images/D-bg-boy1.png) left top no-repeat;background-size:cover;*/margin:24px 0 0 40px;}
.m-box6-btns{position:absolute;bottom:12px;width:100%;height:60px;}
.m-box6-refuse,
.m-box6-accept{display:inline-block;width:157px;height:60px;background-position:left top;background-repeat:no-repeat;}
.m-box6-refuse{background-image:url(../images/D-score-refuse.png);margin-right:30px;}
.m-box6-accept{background-image:url(../images/D-score-accept.png);}
.m-box6-nums{display:inline-block;top:-50px;position:relative;-webkit-transform:scale(5);}
.m-box6-num{background-position:left top;background-repeat:no-repeat;width:39px;height:49px;display:inline-block;margin:2px;}
.m-box6-num.num5{background-image:url(../images/D-score-num5.png);}

/*分享页面*/
.m-box7{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;background:url(../images/pic-bg.jpg) left top no-repeat;background-size:640px 100%;}
.m-box7-count{background-color:rgba(0,0,0,.4);height:100%;background-size:640px 100%;}
.m-box7-act{background:url(../images/D-share3.gif) center center no-repeat;height:913px;width:566px;}
.m-box7-act,
.m-box7-mid{display:inline-block;vertical-align:middle;}
.m-box7-mid{height:100%;}


/****************************************************** 动画调用 *********************************************************/
/* loading动画 */
/*.m-loading.z-on .m-loading-cont{-webkit-animation:loadingCall .8s .5s infinite linear;}*/
/* 首页动画 */
.m-box1.z-on .m-box1-ani1{-webkit-animation:indexScale1 .7s ease forwards;}
.m-box1.z-on .m-box1-bg{-webkit-animation:bgBounce .4s .67s ease forwards;}
.m-box1.z-on .m-box1-ani-text1{-webkit-animation:box1Text1 .7s .67s ease forwards;}
.m-box1.z-on .m-box1-ani-text2{-webkit-animation:box1Text2 .7s .67s ease forwards;}
.m-box1.z-on .m-box1-ani-text3{-webkit-animation:box1Text3 .7s .67s ease forwards;}
.m-box1.z-on .m-box1-ani-text4{-webkit-animation:box1Text4 .7s .67s ease forwards;}
.m-box1.z-on .m-box1-ani2{-webkit-animation:box1Text5 2s 1.37s ease forwards;}
.m-box1.z-on .m-box1-ani3{-webkit-animation:box1Text6 1s 1.35s ease forwards;}
.m-box1.z-on .m-box1-ani11{-webkit-animation:box1ChBg .1s 2.2s ease forwards;}
.m-box1.z-on .m-box1-ani2drop{-webkit-animation:box1Drop .5s 2.3s ease forwards;}
.m-box1.z-on .m-box1-top{-webkit-animation:box1BeTop .5s 2.8s ease forwards;}
.m-box1.z-on .m-box1-ani4{-webkit-animation:box1Opacity1 .6s 3.3s ease forwards;}
.m-box1.z-on .m-box1-ani5{-webkit-animation:box1Opacity1 .6s 3.9s ease forwards;}
.m-box1.z-on .m-box1-ani6{-webkit-animation:box1Opacity1 .6s 4.5s ease forwards;}
/*选男孩女孩*/
.m-box2.z-on .m-box2-top{-webkit-animation:box2Text 1s ease forwards;}
/*.m-box2.z-on .m-box2-bcount{-webkit-animation:box2Bcount 1.8s .8s ease forwards infinite;}
.m-box2.z-on .m-box2-gcount{-webkit-animation:box2Gcount 1.8s .8s ease forwards infinite;}*/
/*选男孩*/
.m-box3-1.z-on .m-box3-count{-webkit-animation:box3ChoiceB 2s linear forwards;}
.m-box3-1.z-on .m-box3-text{-webkit-animation:box3TextR .7s 1s linear forwards;}
/*选女孩*/
.m-box3-2.z-on .m-box3-text1{-webkit-animation:box3GText1 1s .4s linear forwards;}
.m-box3-2.z-on .m-box3-text2{-webkit-animation:box3GText2 .6s 1.4s linear forwards;}
.m-box3-2.z-on .m-box3-text3{-webkit-animation:box3GText2 .6s 2s linear forwards;}
.m-box3-2.z-on .m-box3-gbtn{-webkit-animation:box3GText3 .4s 2.4s linear forwards;}
.m-box3-2.z-on .m-box3-gz{-webkit-animation:box3GText4 .4s 2.8s linear forwards;}

/*帮助页面*/
.m-box4.z-on .m-box4_text{-webkit-animation:box4Text .6s linear forwards infinite;}
.m-box4.z-on .m-box4_move{-webkit-animation:box4Hand 3s .4s linear forwards infinite;}

/*分享页面*/
/*.m-box7.z-on .m-box7-act{-webkit-animation:box7Change .8s linear forwards infinite;}*/

/*得分页面*/
.m-box6.z-on.success .m-box6-count{-webkit-animation:box6Count .8s ease forwards;}
.m-box6.z-on.success .m-box6-nums{-webkit-animation:box6Text1 .8s 1s ease forwards;}
.m-box6.z-on.success .m-box6-text{-webkit-animation:box6Text2 3s 2s ease forwards;}
.m-box6.z-on.success .m-box6-photo{background:url(../images/success.gif) no-repeat;/*-webkit-animation:box6Text3 1.2s 1.8s ease forwards infinite;*/}
.m-box6.z-on.success .m-box6-accept,
.m-box6.z-on.success .m-box6-refuse{-webkit-animation:box6Text5 1.2s 3s ease forwards;}

.m-box6.z-on.fail .m-box6-count{-webkit-animation:box6Count .8s ease forwards;}
.m-box6.z-on.fail .m-box6-nums{-webkit-animation:box6Text1 .8s 1s ease forwards;}
.m-box6.z-on.fail .m-box6-text{-webkit-animation:box6Text2 3s 2s ease forwards;}
.m-box6.z-on.fail .m-box6-photo{background:url(../images/fail.gif) no-repeat;/*-webkit-animation:box6Text3 1.2s 1.8s ease forwards infinite;*/}
.m-box6.z-on.fail .m-box6-accept,
.m-box6.z-on.fail .m-box6-refuse{-webkit-animation:box6Text5 1.2s 3s ease forwards;}

/*挨打页面*/
.m-box5.z-on .m-box5-pre{-webkit-animation:box5Pre 4s 1s ease forwards;}
.m-box5.z-on .m-box5-father{-webkit-animation:--box5FBeating 4s 7s ease forwards infinite;}
.m-box5.z-on .m-box5-ftell{-webkit-animation:--box5FT 3s 7s ease forwards;}
.m-box5-boy.z-on1{-webkit-animation:box5Bmove3 1.2s ease forwards;}
.m-box5-boy.z-on2{-webkit-animation:box5Bmove4 1.2s ease forwards;}
.m-box5-boy.z-onl{-webkit-animation:box5Bmove1 1.2s ease forwards;}
.m-box5-boy.z-onr{-webkit-animation:box5Bmove2 1.2s ease forwards;}


/****************************************************** 动画定义 *********************************************************/
@-webkit-keyframes loadingCall{
     0% {background-image:url(../images/D-loading001.png);}
     50% {background-image:url(../images/D-loading002.png);}
}
@-webkit-keyframes indexScale1{
     0%{-webkit-transform:scale(5);}
     25%{-webkit-transform:scale(3);}
     50%{-webkit-transform:scale(2);}
     100% {-webkit-transform:scale(1);}
}
@-webkit-keyframes bgBounce{
     0%{-webkit-transform:scale(.8);}
     50% {-webkit-transform:scale(1.15);}
     100% {-webkit-transform:scale(1);}
}
@-webkit-keyframes box1Text1{
     0%{-webkit-transform:translateY(0px) rotate(0);}
     100%  {-webkit-transform:translateY(1500px) rotate(-45deg);}
}
@-webkit-keyframes box1Text2{
     0%{-webkit-transform:translateY(0px) rotate(0);}
     100%  {-webkit-transform:translateY(1500px) rotate(10deg);}
}
@-webkit-keyframes box1Text3{
     0%{-webkit-transform:translateY(0px) rotate(0);}
     100%  {-webkit-transform:translateY(1500px) rotate(75deg);}
}
@-webkit-keyframes box1Text4{
     0%{-webkit-transform:translateY(0px) rotate(0);}
     100%  {-webkit-transform:translateY(1500px) rotate(-85deg);}
}
@-webkit-keyframes box1Text5{
     0%{-webkit-transform:translateX(300px);}
     20%  {-webkit-transform:translateX(0);}
     40%  {-webkit-transform:translateY(80px);}
     60%  {-webkit-transform:translateY(60px);}
     80%  {-webkit-transform:translateY(140px);}
     100%  {-webkit-transform:translateY(247px);background-image:url(../images/D-text015.png);}
}
@-webkit-keyframes box1Text6{
     0%{-webkit-transform:translateY(-300px);}
     40%  {-webkit-transform:translateY(40px);}
     60%  {-webkit-transform:translateY(20px);}
     80%  {-webkit-transform:translateY(100px);}
     100%  {-webkit-transform:translateY(207px);}
}
@-webkit-keyframes box1ChBg{
     0%{background-image:url(../images/D-index003.png);}
     100%  {background-image:url(../images/D-index004.png);}
}
@-webkit-keyframes box1Drop{
     0%{-webkit-transform:translateY(0) rotate(0deg);opacity:1;}
     25%{-webkit-transform:translateY(200px) rotate(45deg);opacity:1;}
     50%  {-webkit-transform:translateY(400px) rotate(140deg);opacity:1;}
     100%  {-webkit-transform:translateY(1500px) rotate(140deg);opacity:1;}
}
@-webkit-keyframes box1BeTop{
     0%{-webkit-transform:translateY(0);}
     100%  {-webkit-transform:translateY(-200px);}
}
@-webkit-keyframes box1Opacity1{
     0%{opacity:0.4;}
     33%{opacity:0.8;}
     100%  {opacity:1;}
}
@-webkit-keyframes box2Text{
     0%{-webkit-transform: perspective(800px) rotateY(28deg) rotateX(82deg) scaleY(4);}
	 12.5%{-webkit-transform: perspective(800px) rotateY(18deg) rotateX(80deg) scaleY(4);}
	 25%{-webkit-transform: perspective(800px) rotateY(14deg) rotateX(76deg) scaleY(4);}
	 37.5%{-webkit-transform: perspective(800px) rotateY(-9deg) rotateX(74deg) scaleY(4);}
     60%{-webkit-transform: perspective(800px) rotateY(8deg) rotateX(72deg) scaleY(4);}
     80%{-webkit-transform: perspective(800px) rotateY(-3deg) rotateX(74deg) scaleY(4);}
     100%  {-webkit-transform: perspective(800px) rotateY(0) rotateX(0) scaleY(1);}
}
@-webkit-keyframes box2Gcount{
     0%{background-image:url(../images/D-bg-gril1.png);}
	 10%{background-image:url(../images/D-bg-gril2.png);}
	 20%{background-image:url(../images/D-bg-gril3.png);}
	 30%{background-image:url(../images/D-bg-gril4.png);}
     40%{background-image:url(../images/D-bg-gril3.png);}
     50%{background-image:url(../images/D-bg-gril4.png);}
     60%{background-image:url(../images/D-bg-gril3.png);}
     70%{background-image:url(../images/D-bg-gril4.png);}
     80%{background-image:url(../images/D-bg-gril3.png);}
     90%{background-image:url(../images/D-bg-gril4.png);}
     100% {background-image:url(../images/D-bg-gril3.png);}
}
@-webkit-keyframes box2Gcount2{
     0%{background-image:url(../images/D-bg-gril3.png);}
	 30%{background-image:url(../images/D-bg-gril4.png);}
     60%{background-image:url(../images/D-bg-gril3.png);}
     100% {background-image:url(../images/D-bg-gril4.png);}
}
@-webkit-keyframes box2Bcount{
     0%{background-image:url(../images/D-bg-boy1.png);}
	 10%{background-image:url(../images/D-bg-boy2.png);}
	 20%{background-image:url(../images/D-bg-boy3.png);}
	 30%{background-image:url(../images/D-bg-boy4.png);}
     40%{background-image:url(../images/D-bg-boy3.png);}
     50%{background-image:url(../images/D-bg-boy4.png);}
     60%{background-image:url(../images/D-bg-boy3.png);}
     70%{background-image:url(../images/D-bg-boy4.png);}
     80%{background-image:url(../images/D-bg-boy3.png);}
     90%{background-image:url(../images/D-bg-boy4.png);}
     100% {background-image:url(../images/D-bg-boy3.png);}
}
@-webkit-keyframes box3ChoiceB{
	0%{background-image:url(../images/D-bg7.png);}
	27%{background-image:url(../images/D-bg7.png);}
	31.5%{background-image:url(../images/D-bg6.png);}
	36%{background-image:url(../images/D-bg5.png);}
	40.5%{background-image:url(../images/D-bg6.png);}
	45%{background-image:url(../images/D-bg5.png);}
	49.5%{background-image:url(../images/D-bg6.png);}
	54%{background-image:url(../images/D-bg5.png);}
	58.5%{background-image:url(../images/D-bg6.png);}
	63%{background-image:url(../images/D-bg5.png);}
	67.5%{-webkit-transform: translateX(-84px) translateY(112px) rotate(-30deg);background-image:url(../images/D-bg5.png);-webkit-transform-origin:right top;}
	72%{-webkit-transform: translateX(-84px) translateY(112px) rotate(-40deg);background-image:url(../images/D-bg5.png);-webkit-transform-origin:right top;}
	76.5%{-webkit-transform:translateX(-84px) translateY(112px) rotate(-30deg);background-image:url(../images/D-bg5.png);-webkit-transform-origin:right top;}
	81%{-webkit-transform:translateX(-84px) translateY(112px) rotate(-40deg);background-image:url(../images/D-bg5.png);-webkit-transform-origin:right top;}
	95%{-webkit-transform:translateX(-84px) translateY(112px) rotate(-30deg);background-image:url(../images/D-bg5.png);-webkit-transform-origin:right top;}
	100%{-webkit-transform:translateX(-84px) translateY(112px) rotate(-40deg);background-image:url(../images/D-bg5.png);-webkit-transform-origin:right top;}
}
@-webkit-keyframes box3TextR{
	0%{-webkit-transform:rotate(0);}
	15%{-webkit-transform:rotate(45deg);}
	30%{-webkit-transform:rotate(145deg);}
	45%{-webkit-transform:rotate(45deg);}
	60%{-webkit-transform:rotate(145deg);}
	75%{-webkit-transform:rotate(90deg);}
	90%{-webkit-transform:rotate(145deg);}
	100%{-webkit-transform:rotate(90deg);}
}
@-webkit-keyframes box3Gril{
	0%{background-image:url(../images/D-bg-gril1.png);}
	6%{background-image:url(../images/D-bg-gril2.png);}
	13%{background-image:url(../images/D-bg-gril3.png);}
	20%{background-image:url(../images/D-bg-gril4.png);}
	26%{background-image:url(../images/D-bg-gril3.png);}
	33%{background-image:url(../images/D-bg-gril4.png);}
	40%{background-image:url(../images/D-bg-gril3.png);}
	46%{background-image:url(../images/D-bg-gril4.png);}
	53%{background-image:url(../images/D-bg-gril3.png);}
	60%{background-image:url(../images/D-bg-gril4.png);}
	66%{background-image:url(../images/D-bg-gril3.png);}
	73%{background-image:url(../images/D-bg-gril4.png);}
	80%{background-image:url(../images/D-bg-gril3.png);}
	90%{background-image:url(../images/D-bg-gril4.png);}
	100%{background-image:url(../images/D-bg-gril4.png);}
}
@-webkit-keyframes box3GText1{
	0%{opacity:0;background-image:url(../images/D-text011.png);}
	12.5%{opacity:.4;background-image:url(../images/D-text011.png);}
	25%{opacity:1;background-image:url(../images/D-text011.png);}
	37.5%{opacity:1;background-image:url(../images/D-text017.png);}
	50%{opacity:.5;background-image:url(../images/D-text017.png);}
	62.5%{opacity:.2;background-image:url(../images/D-text017.png);}
	75%{opacity:.6;background-image:url(../images/D-text011.png);}
	100%{opacity:1;background-image:url(../images/D-text011.png);}
}
@-webkit-keyframes box3GText2{
	0%{opacity:0;}
	25%{opacity:.3;}
	50%{opacity:.6;}
	75%{opacity:.8;}
	100%{opacity:1;}
}
@-webkit-keyframes box3GText3{
	0%{opacity:.4;-webkit-transform:scale(4) rotate(160deg);}
	50%{opacity:.4;-webkit-transform:scale(2) rotate(80deg);}
	100%{opacity:1;-webkit-transform:scale(1) rotate(0);}
}
@-webkit-keyframes box3GText4{
	0%{opacity:0;-webkit-transform:scale(5);}
	30%{opacity:.4;-webkit-transform:scale(5);}
	50%{opacity:.4;-webkit-transform:scale(3);}
	100%{opacity:1;-webkit-transform:scale(1);}
}
@-webkit-keyframes box4Text{
	0%{-webkit-transform:rotate(0deg);}
	25%{-webkit-transform:rotate(-4deg);}
	50%{-webkit-transform:rotate(0deg);}
	75%{-webkit-transform:rotate(4deg);}
	100%{-webkit-transform:rotate(0deg);}
}
@-webkit-keyframes box4Hand{
	0%{background:url(../images/D-box4-hand1.png);}
	10%{background:url(../images/D-box4-hand2.png);}
	20%{background:url(../images/D-box4-hand1.png);}
	30%{background:url(../images/D-box4-hand2.png);}
	40%{background:url(../images/D-box4-hand1.png);}
	50%{background:url(../images/D-box4-hand2.png);}
	60%{background:url(../images/D-box4-hand3.png);}
	70%{background:url(../images/D-box4-hand4.png);}
	80%{background:url(../images/D-box4-hand3.png);}
	90%{background:url(../images/D-box4-hand4.png);}
	100%{background:url(../images/D-box4-hand3.png);}
}
@-webkit-keyframes box7Change{
	0%{background:url(../images/D-share1.png);}
	100%{background:url(../images/D-share2.png);}
}

@-webkit-keyframes box6Count{
	0%{-webkit-transform:translateX(-1000px) rotate(10deg);}
	33%{-webkit-transform:translateX(-300px) rotate(10deg);}
	66%{-webkit-transform:translateX(0) rotate(10deg);}
	100%{-webkit-transform:translateX(0) rotate(0deg);}
}
@-webkit-keyframes box6Text1{
	0%{opacity:0;-webkit-transform:scale(5);}
	33%{opacity:.4;-webkit-transform:scale(5);}
	66%{opacity:.8;-webkit-transform:scale(3);}
	100%{opacity:1;-webkit-transform:scale(1);}
}
@-webkit-keyframes box6Text2{
	0%{opacity:1;-webkit-transform:scale(5);}
	5%{opacity:1;-webkit-transform:scale(5);}
	15%{opacity:1;-webkit-transform:scale(1);}
	25%{opacity:1;-webkit-transform:rotate(-10deg) scale(1);}
	35%{opacity:1;-webkit-transform:rotate(10deg) scale(1);}
	45%{opacity:1;-webkit-transform:rotate(-10deg) scale(1);}
	55%{opacity:1;-webkit-transform:rotate(10deg) scale(1);}
	65%{opacity:1;-webkit-transform:rotate(-10deg) scale(1);}
	75%{opacity:1;-webkit-transform:rotate(10deg) scale(1);}
	85%{opacity:1;-webkit-transform:rotate(-10deg) scale(1);}
	100%{opacity:1;-webkit-transform:rotate(0) scale(1);}
}
@-webkit-keyframes box6Text3{
	0%{background:url(../images/D-bg-boy5.png);}
	25%{background:url(../images/D-bg-boy6.png);}
	50%{background:url(../images/D-bg-boy5.png);}
	75%{background:url(../images/D-bg-boy6.png);}
	100%{background:url(../images/D-bg-boy5.png);}
}
@-webkit-keyframes box6Text4{
	0%{background:url(../images/D-bg-boy7.png);}
	25%{background:url(../images/D-bg-boy8.png);}
	50%{background:url(../images/D-bg-boy7.png);}
	75%{background:url(../images/D-bg-boy8.png);}
	100%{background:url(../images/D-bg-boy7.png);}
}
@-webkit-keyframes box6Text5{
	0%{opacity:0;}
	33%{opacity:.3;}
	66%{opacity:.8;}
	100%{opacity:1;}
}
@-webkit-keyframes box5Pre{
	0%{background:url(../images/D-beaten-r1.png);}
	20%{background:url(../images/D-beaten-r2.png);}
	40%{background:url(../images/D-beaten-r3.png);}
	60%{background:url(../images/D-beaten-r4.png);}
	80%{background:url(../images/D-beaten-r5.png);}
	100%{background:none;}
}
@-webkit-keyframes box5FT{
	0%{opacity:0;}
	20%{opacity:1;}
	40%{-webkit-transform:rotate(0deg);opacity:1;}
	60%{-webkit-transform:rotate(-10deg);opacity:1;}
	80%{-webkit-transform:rotate(0deg);opacity:1;}
	100%{-webkit-transform:rotate(0deg);opacity:0;}
}
@-webkit-keyframes box5FBeating{
	0%{background:url(../images/D-beaten-f1.png);}
	20%{background:url(../images/D-beaten-f2.png);}
	40%{background:url(../images/D-beaten-f3.png);}
	60%{background:url(../images/D-beaten-f4.png);}
	80%{background:url(../images/D-beaten-f5.png);}
	100%{background:url(../images/D-beaten-f3.png);}
}
@-webkit-keyframes box5Bmove1{
	0%{background:url(../images/D-beaten9.png);}
	20%{background:url(../images/D-beaten10.png);}
	40%{background:url(../images/D-beaten11.png);}
	60%{background:url(../images/D-beaten12.png);}
	80%{background:url(../images/D-beaten13.png);}
	100%{background:url(../images/D-beaten9.png);}
}
@-webkit-keyframes box5Bmove2{
	0%{background:url(../images/D-beaten8.png);}
	25%{background:url(../images/D-beaten14.png);}
	50%{background:url(../images/D-beaten15.png);}
	75%{background:url(../images/D-beaten16.png);}
	100%{background:url(../images/D-beaten8.png);}
}
@-webkit-keyframes box5Bmove3{
	0%{background:url(../images/D-beaten9.png);}
	15%{background:url(../images/D-beaten17.png);}
	30%{background:url(../images/D-beaten18.png);}
	45%{background:url(../images/D-beaten17.png);}
	60%{background:url(../images/D-beaten18.png);}
	80%{background:url(../images/D-beaten17.png);}
	100%{background:url(../images/D-beaten18.png);}
}
@-webkit-keyframes box5Bmove4{
	0%{background:url(../images/D-beaten8.png);}
	15%{background:url(../images/D-beaten19.png);}
	30%{background:url(../images/D-beaten20.png);}
	45%{background:url(../images/D-beaten19.png);}
	60%{background:url(../images/D-beaten20.png);}
	80%{background:url(../images/D-beaten19.png);}
	100%{background:url(../images/D-beaten20.png);}
}
/**
 * 20150609 guochunhui
 */
.m-father-box .c-father-1,
.m-father-box .c-father-2,
.m-father-box .c-father-3,
.m-father-box .c-father-4,
.m-father-box .c-father-5,
.m-father-box .c-father-6{display:none;position:absolute;background:url(../images/pic.png) no-repeat;}
.m-father-box{position:absolute;top:186px;left:228px;height:706px;width:164px;}
.m-father-box .c-father-1{top:-95px;left:-124px;width:375px;height:798px;}
.m-father-box .c-father-2{top:-95px;left:-148px;width:399px;height:798px;background-position:-375px 0;}
.m-father-box .c-father-3{top:-95px;left:-15px;width:265px;height:798px;background-position:-785px 0;}
.m-father-box .c-father-4{top:-95px;left:-4px;width:299px;height:798px;background-position:-1050px 0;}
.m-father-box .c-father-5{top:-95px;left:-32px;width:374px;height:798px;background-position:-1350px 0;}
.m-father-box .c-father-6{top:-95px;left:-32px;width:281px;height:798px;background-position:-1740px 0;}
.c-hit-icon{display:none;position:absolute;width:184px;height:156px;background:url(../images/pic-01.png) no-repeat;}
.c-hit-icon.z-left{top:358px;left:-190px;}
.c-hit-icon.z-right{top:370px;left:223px;}

.m-boy-box{position:absolute;left:0;bottom:0;width:640px;height:374px;}
.m-boy-box div{display:none;width:100%;height:374px;background:url(../images/pic-08.png) no-repeat;}
.m-boy-box .c-boy-pic1{display:none;background-position:0 0;}
.m-boy-box .c-boy-pic1.z-no{background-position:-640px 0;}
.m-boy-box .c-boy-pic1.z-yes{background-position:-1280px 0;}
.m-boy-box .c-boy-pic2{display:none;background-position:0 -374px;}
.m-boy-box .c-boy-pic2.z-no{background-position:-640px -374px;}
.m-boy-box .c-boy-pic2.z-yes{background-position:-1280px -374px;}
.c-boy-event-l{position:absolute;bottom:0;left:0;width:320px;height:487px;}
.c-boy-event-r{position:absolute;bottom:0;right:0;width:320px;height:487px;}
.m-end-pop{display:none;position:absolute;top:0;left:0;width:640px;height:100%;z-index:10;}
.m-end-pop div{position:absolute;top:50%;left:50%;margin:-90px 0 0 -185px;width:370px;height:180px;background:url(../images/pic-09.png) no-repeat;}