/*网页样式重置reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em;}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup, dfn { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}
input, select, textarea{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-appearance:button;-moz-appearance:button;-o-appearance:button;-ms-appearance:button;border-radius:0px;}
/*全局清除浮动样式*/
.fix,{display:inline-block;}
.fix{display:block;}
.fix:after{content:"";display:block;height:0px; clear:both;visibility:hidden;}
/*------------------------------------------------------------------------------------------------------------------------------*/
/*统一样式*/
html,body{margin:0 auto;width:640px;height:100%;overflow:hidden;position:relative;}
/*div{position:absolute;top:200px;left:200px;width:200px;height:200px;background:#000;}
div.z-speed{-webkit-animation:speed 1s infinite;}
@-webkit-keyframes speed{
     0% {-webkit-transform:rotate(0deg);}
     100% {-webkit-transform:rotate(360deg);}
}*/
/**
 * 各page层级
 * .m-screen{z-index:50;}横竖屏
 * .l-loading{z-index:10;}
 * .l-end-page{z-index:20;}
 * .l-share-page{z-index:25}
 */
section{position:absolute;top:0;left:0;width:100%;height:100%;}
/**
 * 横屏时显示
 */
.m-screen{display:none;background:#000;z-index:50;}
.m-screen .c-box{position:absolute;top:50%;left:50%;margin:-113px 0 0 -180px;width:361px;height:226px;background:url(../images/pic-01.png) no-repeat;}
.l-loading{background:#000;z-index:10;}
.l-loading .c-box{position:absolute;top:300px;left:230px;width:191px;height:280px;background:url(../images/pic-02.png) no-repeat;}
.l-loading .c-box div{overflow:hidden;background:url(../images/pic-02.png) -200px 0 no-repeat;}
.l-loading .c-text{position:absolute;top:620px;left:50%;margin-left:-78px;width:156px;height:36px;background:url(../images/pic-02.png) 0 -300px no-repeat;}
/**
 * 结束页
 */
.l-end-page{display:none;background:url(../images/pic-072.png) no-repeat;z-index:20;}
.l-end-page .c-share-btn{position:absolute;top:798px;left:182px;width:270px;height:119px;}
.l-end-page .c-again-btn{position:absolute;top:630px;left:182px;width:270px;height:119px;}
/**
 * 分享页
 */
.l-share-page{display:none;background:url(../images/pic-071.jpg) no-repeat;z-index:25;}
.l-clearance{display:none;z-index:30;overflow:hidden;}
.l-clearance .c-bg{position:absolute;left:50%;margin-left:-255px;bottom:120px;width:510px;height:595px;background:url(../images/pic-077.png) no-repeat;-webkit-animation:scaleIn 0.5s infinite;}
.l-clearance .c-clearance{position:absolute;bottom:236px;left:72px;background:url(../images/pic-075.png) no-repeat;width:481px;height:334px;}
.l-clearance .c-clearance-btn{position:absolute;bottom:160px;left:206px;background:url(../images/pic-074.png) no-repeat;width:215px;height:98px;}
.m-time-out{display:none;top:140px;background:url(../images/pic-078.png) no-repeat;z-index:10;width:1420px;height:1178px;-webkit-transform:translateX(640px);}
.m-time-out.z-on{display:block;-webkit-animation:rightIn 0.5s forwards;}
.m-time-out a{position:absolute;top:663px;left:546px;width:260px;height:110px;}
@-webkit-keyframes scaleIn{
    0% {-webkit-transform:scale(1,1);}
    50%{-webkit-transform:scale(.8,.8);}
    100% {-webkit-transform:scale(1,1);}
}
@-webkit-keyframes rightIn{
    0% {-webkit-transform:translateX(640px);}
    100% {-webkit-transform:translateX(-360px);}
}
.m-countdown{display:none;z-index:25;background:rgba(0, 0, 0, .8);}
.m-countdown .c-num{display:none;position:absolute;top:330px;left:50%;margin-left:-138px;width:275px;height:174px;-webkit-transform:scale(0, 0);}
.m-countdown .c-num img{width:100%;height:100%;}
.m-countdown .c-num.z-on{display:block;-webkit-animation:changeSize 1s infinite;}
@-webkit-keyframes changeSize{
    0% {-webkit-transform:scale(0, 0);}
    80% {-webkit-transform:scale(1.5, 1.5);}
    100% {-webkit-transform:scale(0, 0);}
}

/**
 * 开始页面
 */
.l-start{background:url(../images/pic-03.jpg) no-repeat;}
.l-start .c-info{position:absolute;top:20px;left:270px;width:353px;height:453px;background:url(../images/pic-05.png) no-repeat;}
.l-start .c-begin-btn{position:absolute;left:356px;bottom:0;width:253px;height:253px;background:url(../images/pic-04.png) no-repeat;}
/**
 * 游戏页面
 */
.l-game.c-bg-1{background:url(../images/pic-06.jpg) no-repeat;}
.l-game.c-bg-2{background:url(../images/pic-07.jpg) no-repeat;}
.l-game.c-bg-3{background:url(../images/pic-08.jpg) no-repeat;}
.l-game.c-bg-4{background:url(../images/pic-09.jpg) no-repeat;}
.l-game.c-bg-5{background:url(../images/pic-010.jpg) no-repeat;}
.l-game .c-music-btn,
.l-game .c-start-btn{background:url(../images/pic-011.png) no-repeat;overflow:hidden;}
.l-game .c-music-btn{position:absolute;top:44px;left:26px;width:46px;height:46px;background-position:0 0;}
.l-game .c-music-btn.z-on{background-position:-50px 0;}
.l-game .c-start-btn{position:absolute;top:44px;left:104px;width:46px;height:46px;background-position:-50px -50px;}
.l-game .c-start-btn.z-on{background-position:0 -50px;}
.l-game .c-level-box,
.l-game .c-level-box em{background:url(../images/pic-012.png) no-repeat;}
.l-game .c-level-box{position:absolute;left:182px;top:45px;padding-left:152px;padding-top:4px;height:46px;}
.l-game .c-level-box em{display:inline-block;width:26px;height:30px;}
.l-game .c-level-box em.num0{background-position:1px -50px;}
.l-game .c-level-box em.num1{background-position:-25px -50px;}
.l-game .c-level-box em.num2{background-position:-46px -50px;}
.l-game .c-level-box em.num3{background-position:-72px -50px;}
.l-game .c-level-box em.num4{background-position:-98px -50px;}
.l-game .c-level-box em.num5{background-position:-124px -50px;}
.l-game .c-level-box em.num6{background-position:-149px -50px;}
.l-game .c-level-box em.num7{background-position:-175px -50px;}
.l-game .c-level-box em.num8{background-position:-200px -50px;}
.l-game .c-level-box em.num9{background-position:-225px -50px;}
.l-game .c-time-box{position:absolute;left:402px;top:10px;width:245px;height:112px;background:url(../images/pic-013.png) no-repeat;overflow:hidden;}
.l-game .c-time-box em{display:block;padding:40px 0 0 138px;color:#a40000;font:24px/32px '方正姚体';}
.l-game .c-select-box{position:absolute;left:60px;right:35px;bottom:40px;z-index:3;}
.l-game .c-select-box span{display:inline-block;width:112px;height:136px;background:url(../images/pic-014.png) no-repeat;}
.l-game .c-select-box span.character1{background-position:0 0;}
.l-game .c-select-box span.character2{background-position:-120px 0;width:110px;}
.l-game .c-select-box span.character3{background-position:-240px 0;width:100px;}
.l-game .c-select-box span.character4{background-position:-360px 0;width:90px;}
.l-game .c-select-box span.character5{background-position:-480px 0;width:100px;}
.l-game .c-select-box span.z-on{-webkit-transform:scale(1.5,1.5);}
/**
 * 底部小人
 */
.l-game .c-collision{position:absolute;width:110px;height:220px;background:rgba(0, 0, 0, 0);}
.l-game .c-collision.z-list1{left:265px;bottom:570px;z-index:5;}
.l-game .c-collision.z-list2{left:76px;bottom:564px;z-index:5;}
.l-game .c-collision.z-list3{left:454px;bottom:570px;z-index:5;}
.l-game .c-collision.z-list4{left:360px;bottom:342px;z-index:5;}
.l-game .c-collision.z-list5{left:166px;bottom:350px;z-index:5;}
/**
 * 中间人物
 */
.l-game .c-pos1{position:absolute;bottom:378px;left:202px;z-index:1;}
.l-game .c-pos2{position:absolute;bottom:372px;left:10px;z-index:1;}
.l-game .c-pos3{position:absolute;bottom:378px;left:390px;z-index:1;}
.l-game .c-pos4{position:absolute;bottom:150px;left:296px;z-index:3;}
.l-game .c-pos5{position:absolute;bottom:158px;left:100px;z-index:2;}
.l-game .c-pos1 div,
.l-game .c-pos2 div,
.l-game .c-pos3 div,
.l-game .c-pos4 div,
.l-game .c-pos5 div{position:absolute;}

.l-game .c-pos1 span,
.l-game .c-pos2 span,
.l-game .c-pos3 span,
.l-game .c-pos4 span,
.l-game .c-pos5 span,
.l-game .c-pos1 em,
.l-game .c-pos2 em,
.l-game .c-pos3 em,
.l-game .c-pos4 em,
.l-game .c-pos5 em{display:none;position:absolute;}
.l-game .c-pos1 span,
.l-game .c-pos2 span,
.l-game .c-pos3 span,
.l-game .c-pos4 span,
.l-game .c-pos5 span{width:47px;height:37px;}
.l-game .c-pos1 dfn,
.l-game .c-pos2 dfn,
.l-game .c-pos3 dfn,
.l-game .c-pos4 dfn,
.l-game .c-pos5 dfn{display:none;position:absolute;z-index:3;}


/**
 * 动作5
 */
.l-game .c-women5 div{position:absolute;left:-20px;bottom:0;width:212px;height:419px;background:url(../images/pic-035.png) no-repeat;}
.l-game .c-women5.z-on div{background-position: -220px 0;}
.l-game .c-gril5 div{position:absolute;left:-20px;bottom:0;width:198px;height:367px;background:url(../images/pic-036.png) no-repeat;}
.l-game .c-gril5.z-on div{background-position: -200px 0;}
.l-game .c-worker5 div{position:absolute;left:-20px;bottom:0;width:237px;height:449px;background:url(../images/pic-039.png) no-repeat;}
.l-game .c-worker5.z-on div{background-position: -240px 0;}
.l-game .c-farmer5 div{position:absolute;left:-20px;bottom:0;width:248px;height:446px;background:url(../images/pic-038.png) no-repeat;}
.l-game .c-farmer5.z-on div{background-position: -250px 0;}
.l-game .c-soldier5 div{position:absolute;left:-20px;bottom:0;width:239px;height:454px;background:url(../images/pic-037.png) no-repeat;}
.l-game .c-soldier5.z-on div{background-position: -240px 0;}
/**
 * 动作4
 */
.l-game .c-women4 div{position:absolute;left:20px;bottom:-20px;width:198px;height:439px;background:url(../images/pic-030.png) no-repeat;}
.l-game .c-women4.z-on div{background-position: -200px 0;}
.l-game .c-gril4 div{position:absolute;left:10px;bottom:0;width:198px;height:386px;background:url(../images/pic-031.png) no-repeat;}
.l-game .c-gril4.z-on div{background-position: -200px 0;}
.l-game .c-worker4 div{position:absolute;left:10px;bottom:-20px;width:198px;height:462px;background:url(../images/pic-034.png) no-repeat;}
.l-game .c-worker4.z-on div{background-position: -200px 0;}
.l-game .c-farmer4 div{position:absolute;left:10px;bottom:-20px;width:198px;height:466px;background:url(../images/pic-033.png) no-repeat;}
.l-game .c-farmer4.z-on div{background-position: -200px 0;}
.l-game .c-soldier4 div{position:absolute;left:10px;bottom:-40px;width:199px;height:464px;background:url(../images/pic-032.png) no-repeat;}
.l-game .c-soldier4.z-on div{background-position: -200px 0;}
/**
 * 动作3
 */
.l-game .c-women3 div{position:absolute;left:30px;bottom:-20px;width:198px;height:441px;background:url(../images/pic-025.png) no-repeat;}
.l-game .c-women3.z-on div{background-position: -200px 0;}
.l-game .c-gril3 div{position:absolute;left:20px;bottom:10px;width:198px;height:357px;background:url(../images/pic-026.png) no-repeat;}
.l-game .c-gril3.z-on div{background-position: -200px 0;}
.l-game .c-worker3 div{position:absolute;left:20px;bottom:-40px;width:216px;height:463px;background:url(../images/pic-029.png) no-repeat;}
.l-game .c-worker3.z-on div{background-position: -220px 0;}
.l-game .c-farmer3 div{position:absolute;left:20px;bottom:-40px;width:200px;height:454px;background:url(../images/pic-028.png) no-repeat;}
.l-game .c-farmer3.z-on div{background-position: -200px 0;}
.l-game .c-soldier3 div{position:absolute;left:20px;bottom:-40px;width:216px;height:463px;background:url(../images/pic-027.png) no-repeat;}
.l-game .c-soldier3.z-on div{background-position: -220px 0;}
/**
 * 动作2
 */
.l-game .c-women2 div{position:absolute;left:20px;bottom:-30px;width:198px;height:446px;background:url(../images/pic-020.png) no-repeat;}
.l-game .c-women2.z-on div{background-position: -200px 0;}
.l-game .c-gril2 div{position:absolute;left:10px;bottom:10px;width:198px;height:369px;background:url(../images/pic-021.png) no-repeat;}
.l-game .c-gril2.z-on div{background-position: -200px 0;}
.l-game .c-worker2 div{position:absolute;left:10px;bottom:-50px;width:217px;height:476px;background:url(../images/pic-024.png) no-repeat;}
.l-game .c-worker2.z-on div{background-position: -220px 0;}
.l-game .c-farmer2 div{position:absolute;left:10px;bottom:-50px;width:217px;height:471px;background:url(../images/pic-023.png) no-repeat;}
.l-game .c-farmer2.z-on div{background-position: -220px 0;}
.l-game .c-soldier2 div{position:absolute;left:10px;bottom:-40px;width:210px;height:464px;background:url(../images/pic-022.png) no-repeat;}
.l-game .c-soldier2.z-on div{background-position: -210px 0;}
/**
 * 动作1
 */
.l-game .c-women1 div{position:absolute;left:-20px;bottom:-30px;width:198px;height:448px;background:url(../images/pic-015.png) no-repeat;}
.l-game .c-women1.z-on div{background-position: -200px 0;}
.l-game .c-gril1 div{position:absolute;left:0px;bottom:10px;width:198px;height:396px;background:url(../images/pic-016.png) no-repeat;}
.l-game .c-gril1.z-on div{background-position: -200px 0;}
.l-game .c-worker1 div{position:absolute;left:-20px;bottom:-40px;width:213px;height:471px;background:url(../images/pic-018.png) no-repeat;}
.l-game .c-worker1.z-on div{background-position: -220px 0;}
.l-game .c-farmer1 div{position:absolute;left:-30px;bottom:-30px;width:214px;height:445px;background:url(../images/pic-019.png) no-repeat;}
.l-game .c-farmer1.z-on div{background-position: -220px 0;}
.l-game .c-soldier1 div{position:absolute;left:-30px;bottom:-30px;width:218px;height:451px;background:url(../images/pic-017.png) no-repeat;}
.l-game .c-soldier1.z-on div{background-position: -210px 0;}
/**
 * 动作6
 */
.l-game .c-women6 div{position:absolute;left:30px;bottom:0;width:198px;height:419px;background:url(../images/pic-041.png) no-repeat;}
.l-game .c-women6.z-on div{background-position: -200px 0;}
.l-game .c-gril6 div{position:absolute;left:20px;bottom:0;width:248px;height:366px;background:url(../images/pic-042.png) no-repeat;}
.l-game .c-gril6.z-on div{background-position: -250px 0;}
.l-game .c-worker6 div{position:absolute;left:25px;bottom:-20px;width:198px;height:449px;background:url(../images/pic-044.png) no-repeat;}
.l-game .c-worker6.z-on div{background-position: -200px 0;}
.l-game .c-farmer6 div{position:absolute;left:30px;bottom:-20px;width:205px;height:446px;background:url(../images/pic-045.png) no-repeat;}
.l-game .c-farmer6.z-on div{background-position: -205px 0;}
.l-game .c-soldier6 div{position:absolute;left:30px;bottom:-30px;width:198px;height:454px;background:url(../images/pic-043.png) no-repeat;}
.l-game .c-soldier6.z-on div{background-position: -200px 0;}
    /**
     * 手
     */
     .l-game .c-women6.z-on span,
     .l-game .c-gril6.z-on span,
     .l-game .c-worker6.z-on span,
     .l-game .c-farmer6.z-on span,
     .l-game .c-soldier6.z-on span{display:block;width:47px;height:37px;background:url(../images/pic-040.png) no-repeat;}

    .l-game .c-women6.z-on span{left:46px;top:-292px;width:40px;height:26px;background-position: -110px 0;z-index:2;}
    .l-game .c-gril6.z-on span{left:76px;top:-260px;width:38px;height:24px;background-position: -110px -30px;z-index:2;}
    .l-game .c-worker6.z-on span{left:46px;top:-292px;background-position: -155px 0;z-index:2;}
    .l-game .c-farmer6.z-on span{left:42px;top:-304px;background-position: -155px 0;z-index:2;}
    .l-game .c-soldier6.z-on span{left:50px;top:-308px;background-position: -155px 0;z-index:2;}

    /**
     * 书
     */
    .l-game .c-women6 em,
    .l-game .c-gril6 em,
    .l-game .c-worker6 em,
    .l-game .c-farmer6 em,
    .l-game .c-soldier6 em{display:block;background:url(../images/pic-040.png) no-repeat;background-position: 0 0;width:44px;height:66px;z-index:1;}

    .l-game .c-women6 em,.l-game .c-women6.z-on dfn{left:50px;top:-310px;}
    .l-game .c-gril6 em,.l-game .c-gril6.z-on dfn{left:80px;top:-278px;}
    .l-game .c-worker6 em,.l-game .c-worker6.z-on dfn{left:50px;top:-310px;}
    .l-game .c-farmer6 em,.l-game .c-farmer6.z-on dfn{left:48px;top:-318px;}
    .l-game .c-soldier6 em,.l-game .c-soldier6.z-on dfn{left:52px;top:-322px;}

    .l-game .c-women6 em.z-on,
    .l-game .c-gril6 em.z-on,
    .l-game .c-worker6 em.z-on,
    .l-game .c-farmer6 em.z-on,
    .l-game .c-soldier6 em.z-on{display:block;background-position: -55px 0;}

    /**
     * 书事件层
     */
    .l-game .c-women6.z-on dfn,
    .l-game .c-gril6.z-on dfn,
    .l-game .c-worker6.z-on dfn,
    .l-game .c-farmer6.z-on dfn,
    .l-game .c-soldier6.z-on dfn{display:block;width:44px;height:66px;z-index:4;}/*20150626加书的层级*/

/**
 * 动作7
 */
.l-game .c-women7 div{position:absolute;left:-40px;bottom:30px;width:260px;height:452px;background:url(../images/pic-046.png) no-repeat;z-index:2;}
.l-game .c-women7.z-on div{background-position: -260px 0;}
.l-game .c-gril7 div{position:absolute;left:-20px;bottom:60px;width:240px;height:413px;background:url(../images/pic-047.png) no-repeat;z-index:2;}
.l-game .c-gril7.z-on div{background-position: -250px 0;}
.l-game .c-worker7 div{position:absolute;left:-50px;bottom:0px;width:280px;height:494px;background:url(../images/pic-050.png) no-repeat;z-index:2;}
.l-game .c-worker7.z-on div{background-position: -280px 0;}
.l-game .c-farmer7 div{position:absolute;left:-54px;bottom:0px;width:280px;height:491px;background:url(../images/pic-049.png) no-repeat;z-index:2;}
.l-game .c-farmer7.z-on div{background-position: -280px 0;}
.l-game .c-soldier7 div{position:absolute;left:-50px;bottom:0px;width:280px;height:494px;background:url(../images/pic-048.png) no-repeat;z-index:2;}
.l-game .c-soldier7.z-on div{background-position: -280px 0;}
    /**
     * 铁锹
     */
    .l-game .c-women7 em,
    .l-game .c-gril7 em,
    .l-game .c-worker7 em,
    .l-game .c-farmer7 em,
    .l-game .c-soldier7 em{display:block;background:url(../images/pic-040.png) no-repeat;background-position: 0 -230px;width:265px;height:158px;z-index:2;}

    .l-game .c-women7 em,.l-game .c-women7.z-on dfn{left:-20px;top:-444px;}
    .l-game .c-gril7 em,.l-game .c-gril7.z-on dfn{left:0px;top:-440px;}
    .l-game .c-worker7 em,.l-game .c-worker7.z-on dfn{left:-20px;top:-440px;}
    .l-game .c-farmer7 em,.l-game .c-farmer7.z-on dfn{left:-20px;top:-438px;}
    .l-game .c-soldier7 em,.l-game .c-soldier7.z-on dfn{left:-20px;top:-442px;}

    .l-game .c-women7 em.z-on,
    .l-game .c-gril7 em.z-on,
    .l-game .c-worker7 em.z-on,
    .l-game .c-farmer7 em.z-on,
    .l-game .c-soldier7 em.z-on{display:block;background-position: 0 -590px;}
    /**
     * 铁锹事件
     */
    .l-game .c-women7.z-on dfn,
    .l-game .c-gril7.z-on dfn,
    .l-game .c-worker7.z-on dfn,
    .l-game .c-farmer7.z-on dfn,
    .l-game .c-soldier7.z-on dfn{display:block;width:265px;height:158px;z-index:3;}
/**
 * 动作8
 */
.l-game .c-women8 div{position:absolute;left:24px;bottom:30px;width:230px;height:440px;background:url(../images/pic-051.png) no-repeat;z-index:2;}
.l-game .c-women8.z-on div{background-position: -230px 0;}
.l-game .c-gril8 div{position:absolute;left:30px;bottom:60px;width:200px;height:400px;background:url(../images/pic-052.png) no-repeat;z-index:2;}
.l-game .c-gril8.z-on div{background-position: -200px 0;}
.l-game .c-worker8 div{position:absolute;left:20px;bottom:10px;width:240px;height:466px;background:url(../images/pic-054.png) no-repeat;z-index:2;}
.l-game .c-worker8.z-on div{background-position: -240px 0;}
.l-game .c-farmer8 div{position:absolute;left:30px;bottom:0px;width:245px;height:468px;background:url(../images/pic-055.png) no-repeat;z-index:2;}
.l-game .c-farmer8.z-on div{background-position: -245px 0;}
.l-game .c-soldier8 div{position:absolute;left:30px;bottom:0px;width:260px;height:477px;background:url(../images/pic-053.png) no-repeat;z-index:2;}
.l-game .c-soldier8.z-on div{background-position: -280px 0;}
    /**
     * 报纸
     */
    .l-game .c-women8 em,
    .l-game .c-gril8 em,
    .l-game .c-worker8 em,
    .l-game .c-farmer8 em,
    .l-game .c-soldier8 em{display:block;background:url(../images/pic-040.png) no-repeat;background-position: -300px 0;width:89px;height:81px;z-index:3;}

    .l-game .c-women8 em,.l-game .c-women8.z-on dfn{left:0px;top:-524px;}
    .l-game .c-gril8 em,.l-game .c-gril8.z-on dfn{left:8px;top:-516px;}
    .l-game .c-worker8 em,.l-game .c-worker8.z-on dfn{left:-4px;top:-526px;}
    .l-game .c-farmer8 em,.l-game .c-farmer8.z-on dfn{left:-4px;top:-514px;}
    .l-game .c-soldier8 em,.l-game .c-soldier8.z-on dfn{left:-4px;top:-530px;}

    .l-game .c-women8 em.z-on,
    .l-game .c-gril8 em.z-on,
    .l-game .c-worker8 em.z-on,
    .l-game .c-farmer8 em.z-on,
    .l-game .c-soldier8 em.z-on{display:block;background-position: -205px 0;}
    /**
     * 报纸事件
     */
    .l-game .c-women8.z-on dfn,
    .l-game .c-gril8.z-on dfn,
    .l-game .c-worker8.z-on dfn,
    .l-game .c-farmer8.z-on dfn,
    .l-game .c-soldier8.z-on dfn{display:block;width:89px;height:81px;z-index:3;}
    /**
     * 手
     */
     .l-game .c-women8.z-on span,
     .l-game .c-gril8.z-on span,
     .l-game .c-worker8.z-on span,
     .l-game .c-farmer8.z-on span,
     .l-game .c-soldier8.z-on span{display:block;z-index:3;background:url(../images/pic-040.png) no-repeat;}

    .l-game .c-women8.z-on span{left:52px;top:-460px;width:13px;height:20px;background-position: -300px -80px;}
    .l-game .c-gril8.z-on span{left:58px;top:-454px;width:11px;height:20px;background-position: -315px -80px;}
    .l-game .c-worker8.z-on span{left:48px;top:-464px;width:15px;height:23px;background-position: -330px -80px;}
    .l-game .c-farmer8.z-on span{left:52px;top:-458px;width:14px;height:22px;background-position: -345px -80px;}
    .l-game .c-soldier8.z-on span{left:42px;top:-468px;width:15px;height:22px;background-position: -360px -80px;}
/**
 * 动作9
 */
.l-game .c-women9 div{position:absolute;left:24px;bottom:-10px;width:200px;height:481px;background:url(../images/pic-057.png) no-repeat;z-index:2;}
.l-game .c-women9.z-on div{background-position: -200px 0;}
.l-game .c-gril9 div{position:absolute;left:20px;bottom:60px;width:200px;height:391px;background:url(../images/pic-056.png) no-repeat;z-index:2;}
.l-game .c-gril9.z-on div{background-position: -200px 0;}
.l-game .c-worker9 div{position:absolute;left:20px;bottom:-20px;width:200px;height:499px;background:url(../images/pic-059.png) no-repeat;z-index:2;}
.l-game .c-worker9.z-on div{background-position: -200px 0;}
.l-game .c-farmer9 div{position:absolute;left:30px;bottom:-30px;width:220px;height:511px;background:url(../images/pic-060.png) no-repeat;z-index:2;}
.l-game .c-farmer9.z-on div{background-position: -220px 0;}
.l-game .c-soldier9 div{position:absolute;left:30px;bottom:-30px;width:220px;height:505px;background:url(../images/pic-058.png) no-repeat;z-index:2;}
.l-game .c-soldier9.z-on div{background-position: -220px 0;}
    /**
     * 报纸
     */
    .l-game .c-women9 em,
    .l-game .c-gril9 em,
    .l-game .c-worker9 em,
    .l-game .c-farmer9 em,
    .l-game .c-soldier9 em{display:block;background:url(../images/pic-040.png) no-repeat;background-position: -300px -105px;width:48px;height:53px;z-index:3;}

    .l-game .c-women9 em,.l-game .c-women9.z-on dfn{left:130px;top:-498px;}
    .l-game .c-gril9 em,.l-game .c-gril9.z-on dfn{left:128px;top:-482px;}
    .l-game .c-worker9 em,.l-game .c-worker9.z-on dfn{left:138px;top:-506px;}
    .l-game .c-farmer9 em,.l-game .c-farmer9.z-on dfn{left:144px;top:-506px;}
    .l-game .c-soldier9 em,.l-game .c-soldier9.z-on dfn{left:148px;top:-500px;}

    .l-game .c-women9 em.z-on,
    .l-game .c-gril9 em.z-on,
    .l-game .c-worker9 em.z-on,
    .l-game .c-farmer9 em.z-on,
    .l-game .c-soldier9 em.z-on{display:block;background-position: -300px -165px;}
    /**
     * 报纸事件
     */
    .l-game .c-women9.z-on dfn,
    .l-game .c-gril9.z-on dfn,
    .l-game .c-worker9.z-on dfn,
    .l-game .c-farmer9.z-on dfn,
    .l-game .c-soldier9.z-on dfn{display:block;width:48px;height:53px;z-index:3;}
    /**
     * 手
     */
     .l-game .c-women9.z-on span,
     .l-game .c-gril9.z-on span,
     .l-game .c-worker9.z-on span,
     .l-game .c-farmer9.z-on span,
     .l-game .c-soldier9.z-on span{display:block;z-index:3;background:url(../images/pic-040.png) no-repeat;}

    .l-game .c-women9.z-on span{left:152px;top:-460px;width:14px;height:21px;background-position: -300px -230px;}
    .l-game .c-gril9.z-on span{left:150px;top:-450px;width:18px;height:27px;background-position: -315px -230px;}
    .l-game .c-worker9.z-on span{left:156px;top:-472px;width:20px;height:28px;background-position: -345px -230px;}
    .l-game .c-farmer9.z-on span{left:164px;top:-472px;width:19px;height:27px;background-position: -365px -230px;}
    .l-game .c-soldier9.z-on span{left:164px;top:-468px;width:18px;height:27px;background-position: -300px -260px;}

 
/**
 * 动作10
 */
.l-game .c-women10 div{position:absolute;left:24px;bottom:-20px;width:210px;height:438px;background:url(../images/pic-061.png) no-repeat;z-index:2;}
.l-game .c-women10.z-on div{background-position: -210px 0;}
.l-game .c-gril10 div{position:absolute;left:20px;bottom:50px;width:200px;height:363px;background:url(../images/pic-062.png) no-repeat;z-index:2;}
.l-game .c-gril10.z-on div{background-position: -200px 0;}
.l-game .c-worker10 div{position:absolute;left:20px;bottom:-40px;width:225px;height:470px;background:url(../images/pic-064.png) no-repeat;z-index:2;}
.l-game .c-worker10.z-on div{background-position: -225px 0;}
.l-game .c-farmer10 div{position:absolute;left:20px;bottom:-40px;width:225px;height:457px;background:url(../images/pic-065.png) no-repeat;z-index:2;}
.l-game .c-farmer10.z-on div{background-position: -225px 0;}
.l-game .c-soldier10 div{position:absolute;left:10px;bottom:-50px;width:225px;height:469px;background:url(../images/pic-063.png) no-repeat;z-index:2;}
.l-game .c-soldier10.z-on div{background-position: -225px 0;}
    /**
     * 旗
     */
    .l-game .c-women10 em,
    .l-game .c-gril10 em,
    .l-game .c-worker10 em,
    .l-game .c-farmer10 em,
    .l-game .c-soldier10 em{display:block;background:url(../images/pic-040.png) no-repeat;background-position: -110px -400px;width:101px;height:177px;z-index:3;}

    .l-game .c-women10 em,.l-game .c-women10.z-on dfn{left:-26px;top:-486px;}
    .l-game .c-gril10 em,.l-game .c-gril10.z-on dfn{left:-14px;top:-502px;}
    .l-game .c-worker10 em,.l-game .c-worker10.z-on dfn{left:-24px;top:-494px;}
    .l-game .c-farmer10 em,.l-game .c-farmer10.z-on dfn{left:-24px;top:-484px;}
    .l-game .c-soldier10 em,.l-game .c-soldier10.z-on dfn{left:-36px;top:-508px;}

    .l-game .c-women10 em.z-on,
    .l-game .c-gril10 em.z-on,
    .l-game .c-worker10 em.z-on,
    .l-game .c-farmer10 em.z-on,
    .l-game .c-soldier10 em.z-on{display:block;background-position: 0 -400px;}
    /**
     * 旗事件
     */
    .l-game .c-women10.z-on dfn,
    .l-game .c-gril10.z-on dfn,
    .l-game .c-worker10.z-on dfn,
    .l-game .c-farmer10.z-on dfn,
    .l-game .c-soldier10.z-on dfn{display:block;width:101px;height:177px;z-index:3;}
    /**
     * 手
     */
     .l-game .c-women10.z-on span,
     .l-game .c-gril10.z-on span,
     .l-game .c-worker10.z-on span,
     .l-game .c-farmer10.z-on span,
     .l-game .c-soldier10.z-on span{display:block;z-index:3;background:url(../images/pic-040.png) no-repeat;}

    .l-game .c-women10.z-on span{left:38px;top:-389px;width:33px;height:33px;background-position: -265px -400px;}
    .l-game .c-gril10.z-on span{left:58px;top:-380px;width:25px;height:29px;background-position: -230px -400px;}
    .l-game .c-worker10.z-on span{left:38px;top:-401px;width:38px;height:39px;background-position: -345px -400px;}
    .l-game .c-farmer10.z-on span{left:38px;top:-392px;width:37px;height:39px;background-position: -300px -400px;}
    .l-game .c-soldier10.z-on span{left:24px;top:-396px;width:39px;height:38px;background-position: -230px -445px;}

.c-time-prompt{display:none;position:absolute;top:286px;left:50%;margin-left:-260px;padding-left:310px;width:210px;height:84px;background:url(../images/pic-083.png) no-repeat;color:#e60001;font-size:76px;line-height:84px;z-index:5;-webkit-animation:opacityIn .5s forwards, moveTo .5s 1s forwards;}
.m-countdown .c-num.z-on{display:block;}
@-webkit-keyframes moveTo{
    0% {opacity:1;-webkit-transform:translate(0, 0) scale(1, 1);}
    100% {opacity:0;-webkit-transform:translate(200px, -240px) scale(0, 0);}
}









/**
 * 简图
 */
.c-sd-box{position:absolute;width:220px;height:220px;z-index:10;}
.c-sd-box.z-pos1{bottom:590px;left:210px;-webkit-animation:opacityIn 0.5s forwards;}
.c-sd-box.z-pos2{bottom:600px;left:21px;-webkit-animation:opacityIn 0.5s forwards;}
.c-sd-box.z-pos3{bottom:590px;left:400px;-webkit-animation:opacityIn 0.5s forwards;}
.c-sd-box.z-pos4{bottom:342px;left:305px;-webkit-animation:opacityIn 0.5s forwards;}
.c-sd-box.z-pos5{bottom:370px;left:110px;-webkit-animation:opacityIn 0.5s forwards;}
.c-sd-box .c-sd-pos1{left:-20px;top:40px;}
.c-sd-box .c-sd-pos2{left:-20px;top:140px;}
.c-sd-box .c-sd-pos3{left:60px;top:180px;}
.c-sd-box .c-sd-pos4{left:140px;top:110px;}
.c-sd-box .c-sd-pos5{left:140px;top:10px;}
.c-sd-box .c-sd-pos6{left:60px;top:-30px;}
.c-sd-box .c-sd-pic1,
.c-sd-box .c-sd-pic2,
.c-sd-box .c-sd-pic3,
.c-sd-box .c-sd-pic4,
.c-sd-box .c-sd-pic5,
.c-sd-box .c-sd-pic6,
.c-sd-box .c-sd-pic7,
.c-sd-box .c-sd-pic8,
.c-sd-box .c-sd-pic9,
.c-sd-box .c-sd-pic10{display:block;position:absolute;width:100px;height:100px;background:url(../images/pic-070.png) no-repeat;}
.c-sd-box .c-sd-pic1{background-position:0 0;}
.c-sd-box .c-sd-pic2{background-position:-100px 0;}
.c-sd-box .c-sd-pic3{background-position:-200px 0;}
.c-sd-box .c-sd-pic4{background-position:-300px 0;}
.c-sd-box .c-sd-pic5{background-position:0 -100px;}
.c-sd-box .c-sd-pic6{background-position:-100px -100px;}
.c-sd-box .c-sd-pic7{background-position:-200px -100px;}
.c-sd-box .c-sd-pic8{background-position:-300px -100px;}
.c-sd-box .c-sd-pic9{background-position:0 -200px;}
.c-sd-box .c-sd-pic10{background-position:-100px -200px;}

@-webkit-keyframes opacityIn{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes opacityIn2{
    0% {opacity:0;}
    20% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes opacityIn3{
    0% {opacity:1;}
    25% {opacity:0;}
    50% {opacity:1;}
    75% {opacity:0;}
    100% {opacity:1;}
}

.c-guide-btn{position:absolute;left:50%;bottom:230px;margin-left:-108px;width:215px;height:98px;background:url(../images/pic-073.png) no-repeat;}

.c-article-box{display:none;position:absolute;bottom:180px;left:0;width:100%;z-index:8;}
.c-article-box span{position:absolute;background:url(../images/pic-076.png) no-repeat;}
.c-article-box span.article1{left:37px;bottom:12px;width:63px;height:62px;background-position:-37px -30px;}
.c-article-box span.article2{left:134px;bottom:9px;width:88px;height:83px;background-position:-134px -12px;}
.c-article-box span.article3{left:276px;bottom:17px;width:44px;height:66px;background-position:-276px -20px;}
.c-article-box span.article4{left:384px;bottom:7px;width:76px;height:91px;background-position:-384px -5px;}
.c-article-box span.article5{left:487px;bottom:11px;width:137px;height:82px;background-position:-487px -12px;}
.c-article-box span.z-on{-webkit-transform:scale(1.5,1.5);}

/**
 * 提示页
 */
.c-prompt-page1,
.c-prompt-page2,
.c-prompt-page3,
.c-prompt-page4,
.c-prompt-page5{position:absolute;top:0;left:0;width:640px;height:100%;background:url(../images/pic-09.jpg) no-repeat;-webkit-animation:opacityIn .5s forwards;opacity:0;}
.c-prompt-page1{z-index:5;}
.c-prompt-page2{z-index:4;}
.c-prompt-page3{z-index:3;}
.c-prompt-page4{z-index:2;}
.c-prompt-page5{z-index:1;}
.c-prompt-page1 .c-page-bg,.c-prompt-page2 .c-page-bg,.c-prompt-page3 .c-page-bg{width:640px;height:828px;background:url(../images/pic-087.png) no-repeat;}
.c-prompt-page1 .c-text{position:absolute;left:50%;top:736px;margin-left:-227px;width:455px;height:95px;-webkit-animation:opacityIn .5s 1s forwards;background:url(../images/pic-089.png) no-repeat;opacity:0;z-index:2;}
.c-prompt-page1 .c-hand{position:absolute;bottom:30px;left:205px;width:100px;height:102px;background:url(../images/pic-086.png) no-repeat;-webkit-animation:opacityIn3 .4s 2s forwards;}
.l-guide .c-select-box{position:absolute;left:60px;right:35px;bottom:40px;}
.l-guide .c-select-box span{display:inline-block;width:112px;height:136px;background:url(../images/pic-014.png) no-repeat;}
.l-guide .c-select-box span.character1{background-position:0 0;}
.l-guide .c-select-box span.character2{background-position:-120px 0;width:110px;}
.l-guide .c-select-box span.character3{background-position:-240px 0;width:100px;}
.l-guide .c-select-box span.character4{background-position:-360px 0;width:90px;}
.l-guide .c-select-box span.character5{background-position:-480px 0;width:100px;}
.l-guide .c-select-box span.character5.z-time{background-position:-480px 0;width:100px;-webkit-animation:changeBig .2s 2.5s forwards;}
.l-guide .c-select-box span.z-on{-webkit-transform:scale(1.5,1.5);}
.c-tip{position:absolute;bottom:16px;left:50%;margin-left:-32px;width:64px;height:73px;background:url(../images/pic-085.png) no-repeat;opacity:0;-webkit-animation:opacityIn .2s 2.8s forwards, moveTU 1.5s 3s infinite;}
.c-jump-over{position:absolute;top:8px;right:10px;width:140px;height:127px;background:url(../images/pic-084.png) no-repeat;z-index:2px;}
.c-prompt-page2 .c-hand{position:absolute;top:436px;left:308px;width:100px;height:102px;background:url(../images/pic-086.png) no-repeat;-webkit-animation:opacityIn3 .4s 2s forwards;}
.c-prompt-page2 .c-text{position:absolute;left:50%;top:736px;margin-left:-245px;width:490px;height:95px;-webkit-animation:opacityIn .5s 1s forwards;background:url(../images/pic-090.png) no-repeat;opacity:0;z-index:2;}
.c-prompt-page2 .c-pic{position:absolute;top:285px;left:170px;width:331px;height:344px;background:url(../images/pic-091.png) no-repeat;opacity:0;-webkit-animation:opacityIn .2s 2.5s forwards;}
.c-prompt-page3 .c-pic,.c-prompt-page4 .c-pic{position:absolute;top:285px;left:170px;width:331px;height:344px;background:url(../images/pic-091.png) no-repeat;}
.c-prompt-page3 .c-hand{position:absolute;top:528px;left:460px;width:100px;height:102px;background:url(../images/pic-086.png) no-repeat;-webkit-animation:opacityIn3 .4s 2s forwards;}
.c-prompt-page3 .c-page-bg{-webkit-animation:changeBg .2s 2.4s forwards;}
.c-prompt-page3 .c-text{position:absolute;left:50%;top:736px;margin-left:-250px;width:501px;height:95px;-webkit-animation:opacityIn .5s 1s forwards;background:url(../images/pic-093.png) no-repeat;opacity:0;z-index:2;}
.c-prompt-page4 .c-page-bg{width:640px;height:828px;background:url(../images/pic-092.png) no-repeat;-webkit-animation:changeBg2 .2s 3s forwards;}
.c-prompt-page4 .c-article{position:absolute;bottom:178px;left:0;width:640px;height:114px;background:url(../images/pic-094.png) no-repeat;-webkit-animation:opacityIn .5s 2s forwards;opacity:0;}
.c-prompt-page4 .c-text{position:absolute;left:387px;top:554px;width:242px;height:145px;-webkit-animation:opacityIn .5s 1s forwards;background:url(../images/pic-095.png) no-repeat;opacity:0;z-index:2;}
.c-prompt-page4 .c-hand{position:absolute;bottom:124px;left:160px;width:100px;height:102px;background:url(../images/pic-086.png) no-repeat;-webkit-animation:opacityIn .2s 2.3s forwards,opacityIn3 .4s 2.8s forwards;opacity:0;}
.c-prompt-page5 .c-article{position:absolute;bottom:178px;left:0;width:640px;height:114px;background:url(../images/pic-094.png) no-repeat;}
.c-prompt-page5 .c-page-bg{width:640px;height:828px;background:url(../images/pic-097.png) no-repeat;}
.c-prompt-page5 .c-text{position:absolute;left:50%;top:120px;margin-left:-212px;width:425px;height:63px;-webkit-animation:opacityIn .5s 1s forwards;background:url(../images/pic-098.png) no-repeat;opacity:0;z-index:2;}
.c-prompt-page5 .c-start-btn{position:absolute;top:690px;left:50%;margin-left:-107px;width:215px;height:94px;background:url(../images/pic-099.png) no-repeat;-webkit-animation:opacityIn .5s 1.5s forwards;opacity:0;}
@-webkit-keyframes changeBg{
    0% {background:url(../images/pic-087.png) no-repeat;}
    100% {background:url(../images/pic-092.png) no-repeat;}
}
@-webkit-keyframes changeBg2{
    0% {background:url(../images/pic-092.png) no-repeat;}
    100% {background:url(../images/pic-096.png) no-repeat;}
}
@-webkit-keyframes changeBig{
    0% {-webkit-transform:scale(1,1);}
    100% {-webkit-transform:scale(1.5,1.5);}
}

@-webkit-keyframes moveTU{
    0% {-webkit-transform:translateY(-30px);}
    25% {-webkit-transform:translateY(0;}
    50% {-webkit-transform:translateY(40px;}
    25% {-webkit-transform:translateY(0;}
    100% {-webkit-transform:translateY(-30px;}
}