<!DOCTYPE html>
<html>
<head>
   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
   {% include meta.html %}
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Mud</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>r@v2u.org</p>
    </div>
  </div>
</div>
</body>
</html>
