/*网页样式重置reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em;}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}
input, select, textarea{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-appearance:button;-moz-appearance:button;-o-appearance:button;-ms-appearance:button;border-radius:0px;}
/*------------------------------------------------------------------------------------------------------------------------------*/
/*动画效果*/
@-webkit-keyframes float{
	0%{-webkit-transform:translate(0,0);}
	50%{-webkit-transform:translate(0,-10px);}
	100%{-webkit-transform:translate(0,0);}

}
@-webkit-keyframes cloud{
	0%{-webkit-transform:translate(280px, 250px)  scale(.3);opacity:1;}
	100%{-webkit-transform:translate(45px, 85px)  scale(1.5);opacity:0;}

}
@-webkit-keyframes cloud1{
	0%{-webkit-transform:translate(233px, 35px)  scale(.3);opacity:1;}
	100%{-webkit-transform:translate(0px, -100px)  scale(1.5);opacity:0;}

}
@-webkit-keyframes cloud2{
	0%{-webkit-transform:translate(105px, -20px)  scale(.2);opacity:1;}
	100%{-webkit-transform:translate(0px, -100px)  scale(1.5);opacity:0;}

}
@-webkit-keyframes spray{
	0%{background-position:0 0;}
	100%{background-position:-640px 0;}

}
@-webkit-keyframes spray1{
	0%{background-position:0 0;}
	100%{background-position:-400px 0;}

}
@-webkit-keyframes ship{
	0%{-webkit-transform:translate(-523px,30px);}
	100%{-webkit-transform:translate(20px,30px);}

}
@-webkit-keyframes left{
	0%{-webkit-transform:translate(640px, 5px);}
	100%{-webkit-transform:translate(-640px, 5px);}

}
@-webkit-keyframes left-1{
	0%{-webkit-transform:translate(1280px, 5px) scale(.5);}
	100%{-webkit-transform:translate(-440px, 5px) scale(.5);}

}
@-webkit-keyframes left-2{
	0%{-webkit-transform:translate(1280px, 260px);}
	100%{-webkit-transform:translate(-640px, 260px);}

}
@-webkit-keyframes left-3{
	0%{-webkit-transform:translate(800px, 220px);}
	100%{-webkit-transform:translate(-640px, 220px);}

}
@-webkit-keyframes height{
	0%{height:140px;}
	100%{height:760px;}

}
@-webkit-keyframes anchor{
	0%{bottom:0;-webkit-transform:rotate(0deg);}
	100%{bottom:-17px;-webkit-transform:rotate(-17deg);}

}
@-webkit-keyframes opacity{
	0%{opacity:0;}
	100%{opacity:1;}
}

@-webkit-keyframes fire1{
	0%{opacity:0;-webkit-transform:scale(0.1,0.1);}
	100%{opacity:1;-webkit-transform:scale(1,1);}
}
@-webkit-keyframes fire2{
	0%{opacity:0;-webkit-transform:scale(0.1,0.1);}
	100%{opacity:0.3;-webkit-transform:scale(1,1);}
}
@-webkit-keyframes opacity1{
	0%{opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes opacity2{
	0%{opacity:0;}
	50%{opacity:1;}
	100%{opacity:0;}
}

@-webkit-keyframes float1{
	0%{-webkit-transform:translate(20px, 500px);}
	50%{-webkit-transform:translate(20px, 510px);}
	100%{-webkit-transform:translate(20px, 500px);}

}
@-webkit-keyframes float2{
	0%{-webkit-transform:translate(220px, 460px);}
	50%{-webkit-transform:translate(220px, 470px);}
	100%{-webkit-transform:translate(220px, 460px);}

}
@-webkit-keyframes float3{
	0%{-webkit-transform:translate(465px, 590px);}
	50%{-webkit-transform:translate(465px, 600px);}
	100%{-webkit-transform:translate(465px, 590px);}

}
@-webkit-keyframes float4{
	0%{-webkit-transform:translate(95px, 725px);}
	50%{-webkit-transform:translate(95px, 735px);}
	100%{-webkit-transform:translate(95px, 725px);}

}
@-webkit-keyframes float5{
	0%{-webkit-transform:translate(205px, 630px);}
	50%{-webkit-transform:translate(205px, 640px);}
	100%{-webkit-transform:translate(205px, 630px);}

}
@-webkit-keyframes float6{
	0%{-webkit-transform:translate(510px, 435px);}
	50%{-webkit-transform:translate(510px, 445px);}
	100%{-webkit-transform:translate(510px, 435px);}
}
@-webkit-keyframes float7{
	0%{-webkit-transform:translate(265px, 795px);}
	50%{-webkit-transform:translate(265px, 805px);}
	100%{-webkit-transform:translate(265px, 795px);}

}
@-webkit-keyframes float8{
	0%{-webkit-transform:translate(490px, 755px);}
	50%{-webkit-transform:translate(490px, 765px);}
	100%{-webkit-transform:translate(490px, 755px);}

}

@-webkit-keyframes roat{
	0%{-webkit-transform:rotate(0deg);opacity:0}
	50%{-webkit-transform:rotate(45deg);opacity:1;}
	100%{-webkit-transform:rotate(90deg);opacity:0}
}
@-webkit-keyframes num{
	0%{opacity:0;-webkit-transform:translate(0, 0);}
	50%{opacity:1;-webkit-transform:translate(100px,-100px)}
	100%{opacity:0;-webkit-transform:translate(110px,-110px)}
}

@-webkit-keyframes anchor1{
	0%{bottom:-17px;-webkit-transform:rotate(-17deg);}
	20%{bottom:4px;-webkit-transform:rotate(0deg);}
	40%{bottom:4px;-webkit-transform:rotate(5deg);}
	60%{bottom:4px;-webkit-transform:rotate(0deg);}
	80%{bottom:4px;-webkit-transform:rotate(-5deg);}
	100%{bottom:4px;-webkit-transform:rotate(0deg);}
}
@-webkit-keyframes height1{
	0%{height:760px;}
	100%{height:605px;}

}
@-webkit-keyframes anchor2{
	0%{bottom:4px;-webkit-transform:rotate(0deg);}
	25%{bottom:4px;-webkit-transform:rotate(5deg);}
	50%{bottom:4px;-webkit-transform:rotate(0deg);}
	75%{bottom:4px;-webkit-transform:rotate(-5deg);}
	100%{bottom:4px;-webkit-transform:rotate(0deg);}
}
@-webkit-keyframes height2{
	0%{height:605px;}
	100%{height:450px;}
}
@-webkit-keyframes anchor3{
	0%{bottom:4px;-webkit-transform:rotate(0deg);}
	25%{bottom:4px;-webkit-transform:rotate(5deg);}
	50%{bottom:4px;-webkit-transform:rotate(0deg);}
	75%{bottom:4px;-webkit-transform:rotate(-5deg);}
	100%{bottom:4px;-webkit-transform:rotate(0deg);}
}
@-webkit-keyframes height3{
	0%{height:450px;}
	100%{height:295px;}
}
@-webkit-keyframes anchor4{
	0%{bottom:4px;-webkit-transform:rotate(0deg);}
	25%{bottom:4px;-webkit-transform:rotate(5deg);}
	50%{bottom:4px;-webkit-transform:rotate(0deg);}
	75%{bottom:4px;-webkit-transform:rotate(-5deg);}
	100%{bottom:4px;-webkit-transform:rotate(0deg);}
}
@-webkit-keyframes height4{
	0%{height:295px;}
	100%{height:140px;}
}
@-webkit-keyframes height5{
	0%{top:230px;left:345px;}
	100%{top:205px;left:333px;}
}
@-webkit-keyframes chesth1{
	0%{height:140px;}
	100%{height:295px;}
}
@-webkit-keyframes chesth2{
	0%{height:295px;}
	100%{height:450px;}
}
@-webkit-keyframes chesth3{
	0%{height:450px;}
	100%{height:605px;}
}
@-webkit-keyframes chesth4{
	0%{height:605px;}
	100%{height:760px;}
}
@-webkit-keyframes chesth5{
	0%{height:760px;}
	100%{height:760px;}
}
@-webkit-keyframes back{
	0%{background-position:63px 0;}
	100%{background-position:63px -630px;}
}



@-webkit-keyframes top1{
	0%{top:912px;left:414px;-webkit-transform:rotate(0deg);}
	100%{top:757px;left:405px;-webkit-transform:rotate(22deg);}
}
@-webkit-keyframes top2{
	0%{top:757px;left:405px;-webkit-transform:rotate(22deg);}
	100%{top:602px;left:405px;-webkit-transform:rotate(22deg);}
}
@-webkit-keyframes top3{
	0%{top:602px;left:405px;-webkit-transform:rotate(22deg);}
	100%{top:447px;left:405px;-webkit-transform:rotate(22deg);}
}

@-webkit-keyframes water1{
	0%{opacity:1;width:40px;height:40px;-webkit-transform:translate(0,0)}
	100%{opacity:0;width:0;height:0;-webkit-transform:translate(30px,-120px)}
}
@-webkit-keyframes water2{
	0%{opacity:1;width:35px;height:35px;-webkit-transform:translate(0,0)}
	100%{opacity:0;width:0;height:0;-webkit-transform:translate(0px,-120px)}
}
@-webkit-keyframes water3{
	0%{opacity:1;width:30px;height:30px;-webkit-transform:translate(0,0)}
	100%{opacity:0;width:0;height:0;-webkit-transform:translate(30px,-120px)}
}
@-webkit-keyframes top4{
	0%{top:447px;left:405px;-webkit-transform:rotate(22deg);}
	100%{top:292px;left:405px;-webkit-transform:rotate(22deg);}
}
@-webkit-keyframes scale{
	0%{-webkit-transform:scale(1);}
	100%{-webkit-transform:scale(0);}
}
@-webkit-keyframes ship1{
	0%{-webkit-transform:translate(20px,30px);}
	100%{-webkit-transform:translate(640px,30px);}
}
@-webkit-keyframes rotate{
	0%{-webkit-transform: perspective(1500px) rotate3d(0,1,0,250deg);}
	100%{-webkit-transform: perspective(1500px) rotate3d(0,1,0,360deg);}
}

@-webkit-keyframes ship2{
	0%{-webkit-transform:translate(-300px, 0);}
	100%{-webkit-transform:translate(0, 0);}

}
/*-webkit-animation:opacity 2s linear forwards;*/
/*统一样式*/
html{overflow:hidden;}
html,
body{margin:0 auto;width:640px;height:100%;overflow:hidden;background:#1d3449;}
section.l-box{position:absolute;top:0;left:0;width:100%;height:1040px;overflow:hidden;z-index:90;}
section.l-loading{position:absolute;top:0;left:0;width:100%;height:100%;background:#e87a03 url(../images/light.png) no-repeat top;z-index:1;}
section.l-loading .l-load{width:100%;height:100%;background:url(../images/bg-top.png);}
section.l-loading .l-load .circle{position:absolute;top:205px;left:50%;margin:0 0 0 -261px;width:522px;height:492px;background:url(../images/circle.png) no-repeat;}
section.l-loading .l-load .circle-1{position:absolute;top:205px;left:50%;margin:6px 0 0 -253px;width:474px;height:474px;background:url(../images/circle-2.png) no-repeat;}
section.l-loading .l-load .circle-2{position:absolute;top:205px;left:50%;margin:8px 0 0 -253px;width:474px;height:474px;background:url(../images/circle-1.png) no-repeat left;}
section.l-loading .l-load .circle-3{position:absolute;top:205px;left:50%;margin:8px 0 0 -253px;width:474px;height:474px;background:url(../images/circle-3.png) no-repeat right;}
section.l-loading .l-load .ship{position:absolute;top:270px;left:50%;margin:0 0 0 -253px;width:522px;height:418px;background:url(../images/ship.png) no-repeat;-webkit-animation:float 1.5s infinite ease-in-out;}
section.l-loading .l-load .spray{position:absolute;top:526px;left:50%;margin:0 0 0 -196px;width:457px;height:161px;background:url(../images/spray.png) no-repeat;}
section.l-loading .l-load .cloud{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(280px, 250px)  scale(.3);-webkit-animation:cloud 3s infinite linear;}
section.l-loading .l-load .cloud1{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(280px, 250px)  scale(.3);-webkit-animation:cloud 3s infinite 1s linear;}
section.l-loading .l-load .cloud2{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(280px, 250px)  scale(.3);-webkit-animation:cloud 3s infinite 2s linear;}
section.l-loading .l-load .logo{position:absolute;top:125px;right:65px;width:176px;height:167px;background:url(../images/logo.png) no-repeat;}
section.l-game{position:absolute;top:0;left:0;width:100%;height:100%;}
section.l-game .spray{position:absolute;top:335px;left:0;width:100%;height:98px;background:url(../images/spray-1.png) no-repeat 0 0;-webkit-animation:spray 5s infinite linear;}
section.l-game .header{height:366px;background:url(../images/header-bg.png) no-repeat;}
section.l-game .header span{position:absolute;top:0;left:0;}
section.l-game .header span:nth-child(1){-webkit-transform:translate(800px, 5px);-webkit-animation:left 15s infinite linear;width:239px;height:142px;background:url(../images/cloud-1.png) no-repeat;}
section.l-game .header span:nth-child(2){-webkit-transform:translate(1280px, 5px) scale(.5);-webkit-animation:left-1 20s infinite linear;width:239px;height:142px;background:url(../images/cloud-1.png) no-repeat;}
section.l-game .header span:nth-child(3){-webkit-transform:translate(1280px, 260px);-webkit-animation:left-2 25s infinite linear;width:162px;height:117px;background:url(../images/cloud-2.png) no-repeat;}
section.l-game .header span:nth-child(4){-webkit-transform:translate(800px, 220px);-webkit-animation:left-3 20s infinite linear;width:282px;height:182px;background:url(../images/cloud-3.png) no-repeat;}

section.l-game .sea{position:relative;height:640px;background:#25567f;}
section.l-game .seaweed{position:absolute;top:765px;left:0;width:100%;height:242px;background:url(../images/seaweed.png) no-repeat;}
section.l-game .ship-box{position:absolute;top:0;left:0;width:523px;height:389px;-webkit-transform:translate(-523px,30px);}
section.l-game .ship-box.z-on{-webkit-animation:ship 4s forwards ease-in-out;}
section.l-game .ship{position:relative;width:523px;height:389px;background:url(../images/ship-1.png) no-repeat;-webkit-animation:float 1.5s infinite ease-in-out;}
section.l-game .ship .chain{position:absolute;bottom:150px;right:115px;width:28px;height:18px;background:url(../images/chain.png) no-repeat;}
section.l-game .ship .chain.z-on{-webkit-animation:scale 1.5s forwards linear;}
section.l-game .chest-box{position:absolute;top:0;left:0;width:523px;height:389px;z-index:1;-webkit-transform:translate(-523px,30px);}
section.l-game .chest-box.z-on{-webkit-animation:ship 4s forwards ease-in-out;}

section.l-game .chest-chain{position:absolute;top:230px;left:320px;width:129px;height:140px;background:url(../images/chain-1.png) no-repeat 63px bottom;-webkit-animation:float 1.5s infinite ease-in-out;}
section.l-game .chest{position:absolute;bottom:0;left:0px;width:129px;height:140px;background: url(../images/chest.png) no-repeat;}

section.l-game .chest-chain.z-on1{-webkit-animation:chesth1 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .chest-chain.z-on2{-webkit-animation:chesth2 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .chest-chain.z-on3{-webkit-animation:chesth3 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .chest-chain.z-on4{-webkit-animation:chesth4 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .chest-chain.z-on5{-webkit-animation:chesth5 1.5s forwards linear, back 1.5s forwards linear;}
section.l-game .anchor-box{position:absolute;top:0;left:0;width:523px;height:389px;-webkit-transform:translate(-523px,30px);}
section.l-game .anchor-box.z-on{-webkit-animation:ship 4s forwards ease-in-out;}
section.l-game .anchor-box.z-on1{-webkit-animation:ship1 3s forwards ease-in-out;}


section.l-game .anchor-chain{position:absolute;top:230px;left:345px;width:129px;height:140px;background:url(../images/chain-1.png) no-repeat 55px bottom;-webkit-animation:float 1.5s infinite ease-in-out;}
section.l-game .anchor{position:absolute;bottom:2px;left:0px;width:129px;height:140px;background:url(../images/anchor.png) no-repeat;-webkit-transform:rotate(0deg);-webkit-transform-origin:left top;}

section.l-game .anchor-chain.z-on{-webkit-animation:height 1.5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .anchor-chain.z-on .anchor{-webkit-animation:anchor .5s forwards 1.3s linear;}
section.l-game .anchor-chain.z-on1{-webkit-animation:height1 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .anchor-chain.z-on1 .anchor{-webkit-animation:anchor1 2s forwards linear;}
section.l-game .anchor-chain.z-on2{-webkit-animation:height2 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .anchor-chain.z-on2 .anchor{-webkit-animation:anchor2 2s forwards linear;}
section.l-game .anchor-chain.z-on3{-webkit-animation:height3 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .anchor-chain.z-on3 .anchor{-webkit-animation:anchor3 2s forwards linear;}
section.l-game .anchor-chain.z-on4{-webkit-animation:height4 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .anchor-chain.z-on4 .anchor{-webkit-animation:anchor4 2s forwards linear;}
section.l-game .anchor-chain.z-on5{-webkit-animation:height5 .5s forwards linear, float 1.5s infinite ease-in-out;}
section.l-game .anchor-chain.z-on6{-webkit-animation:scale1 .5s forwards ease-in-out;}

section.l-game .ship-box.z-on1 .cloud{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(233px, 35px)  scale(.3);-webkit-animation:cloud1 3s 3 linear;}
section.l-game .ship-box.z-on1 .cloud1{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(233px, 35px)  scale(.3);-webkit-animation:cloud1 3s 3 1s linear;}
section.l-game .ship-box.z-on1 .cloud2{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(233px, 35px)  scale(.3);-webkit-animation:cloud1 3s 3 2s linear;}

section.l-game .ship-box.z-on2{-webkit-animation:ship1 3s forwards ease-in-out;}
section.l-game .ship-box.z-on2 .cloud{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(233px, 35px)  scale(.3);-webkit-animation:cloud1 3s infinite linear;}
section.l-game .ship-box.z-on2 .cloud1{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(233px, 35px)  scale(.3);-webkit-animation:cloud1 3s infinite 1s linear;}
section.l-game .ship-box.z-on2 .cloud2{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(233px, 35px)  scale(.3);-webkit-animation:cloud1 3s infinite 2s linear;}


section.l-game .l-five-box{position:absolute;top:912px;left:414px;width:69px;height:73px;-webkit-transform-origin:left top;}
section.l-game .l-five-box.z-on1,
section.l-game .l-five-box.z-on1{-webkit-animation:top1 1.5s forwards linear;}
section.l-game .l-five-box.z-on2,
section.l-game .l-five-box.z-on2{-webkit-animation:top2 1.5s forwards linear;}
section.l-game .l-five-box.z-on3,
section.l-game .l-five-box.z-on3{-webkit-animation:top3 1.5s forwards linear;}
section.l-game .l-five-box.z-on4,
section.l-game .l-five-box.z-on4{-webkit-animation:top4 1.5s forwards linear;}


section.l-game .five{width:69px;height:73px;background:url(../images/five.png) no-repeat;-webkit-transform:rotate(0deg);}
section.l-game .five-1{width:69px;height:73px;background:url(../images/five-1.png) no-repeat;-webkit-transform:rotate(0deg);}
section.l-game .five.z-on,
section.l-game .five-1.z-on{-webkit-animation:float 1.5s infinite 2.42s ease-in-out;}



section.l-game .shelter{position:absolute;top:975px;left:303px;width:277px;height:42px;background:url(../images/shelter.png) no-repeat;}
section.l-game .bubble{position:absolute;top:0;left:0;padding:30px 0 0 0;width:118px;height:88px;font-size:24px;line-height:30px;font-weight:bold;text-align:center;opacity:0;}
section.l-game .bubble.w{background:url(../images/w.png) no-repeat center;color:#f6dd7c;}
section.l-game .bubble.y{background:url(../images/y.png) no-repeat center;color:#d6edfc;}
section.l-game .bubble.z-on0{-webkit-animation:opacity .5s forwards linear, float1 1.5s infinite ease-in-out;}
section.l-game .bubble.z-on1{-webkit-animation:opacity .5s forwards linear, float2 1.5s infinite ease-in-out;}
section.l-game .bubble.z-on2{-webkit-animation:opacity .5s forwards linear, float3 1.5s infinite ease-in-out;}
section.l-game .bubble.z-on3{-webkit-animation:opacity .5s forwards linear, float4 1.5s infinite ease-in-out;}
section.l-game .bubble.z-on4{-webkit-animation:opacity .5s forwards linear, float5 1.5s infinite ease-in-out;}
section.l-game .bubble.z-on5{-webkit-animation:opacity .5s forwards linear, float6 1.5s infinite ease-in-out;}
section.l-game .bubble.z-on6{-webkit-animation:opacity .5s forwards linear, float7 1.5s infinite ease-in-out;}
section.l-game .bubble.z-on7{-webkit-animation:opacity .5s forwards linear, float8 1.5s infinite ease-in-out;}
section.l-game .setsail{position:absolute;top:130px;left:0;width:100%;height:44px;background:url(../images/setsail.png) no-repeat center;opacity:0;}
section.l-game .setsail.z-on{-webkit-animation:opacity 1.5s forwards linear}


section.l-guide{position:absolute;top:0;left:0;width:100%;height:100%;:1;}

section.l-front-cover-box{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;-webkit-transform: perspective(1500px) rotate3d(0,1,0,250deg);-webkit-transform-origin:left top;}
section.l-front-cover-box.z-on{-webkit-animation:rotate 2s forwards 1s ease-in-out;}
section.l-front-cover-box .round{position:absolute;top:85px;left:153px;width:326px;height:325px;background:url(../images/circle-4.png) no-repeat;overflow:hidden;}
section.l-front-cover-box .round .waves{position:absolute;bottom:-10px;left:0;width:800px;height:95px;background:url(../images/spray-2.png) no-repeat;-webkit-animation:spray1 5s infinite linear;}
section.l-front-cover-box .round .ship-box{position:absolute;bottom:55px;left:19px;width:279px;height:194px;-webkit-transform:translate(-300px, 0)}
section.l-front-cover-box .round .ship{position:absolute;bottom:0;left:0;width:279px;height:194px;background:url(../images/ship-2.png) no-repeat;-webkit-animation:float 1.5s infinite ease-in-out;}

section.l-front-cover-box .round .cloud{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(125px, 0px)  scale(.2);-webkit-animation:cloud2 3s infinite linear;}
section.l-front-cover-box .round .cloud1{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(125px, 0px)  scale(.2);-webkit-animation:cloud2 3s infinite 1s linear;}
section.l-front-cover-box .round .cloud2{position:absolute;top:0;left:0;width:75px;height:52px;background:url(../images/cloud.png) no-repeat;-webkit-transform:translate(125px, 0px)  scale(.2);-webkit-animation:cloud2 3s infinite 2s linear;}


section.l-front-cover-box .l-front-cover{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/f-bg.jpg);}
section.l-front-cover-box .logo{position:absolute;top:35px;left:365px;width:121px;height:115px;background:url(../images/logo-1.png) no-repeat;}
section.l-front-cover-box .fireworks{position:absolute;top:0;left:0;width:100%;height:100%;}
section.l-front-cover-box .fireworks span{position:absolute;opacity:0;background:url(../images/fire-bag1.png) 0 0 no-repeat;}
section.l-front-cover-box .fireworks span em{position:absolute;width:100%;height:100%;top:0;left:0;opacity:0;background:url(../images/fire-bag2.png) 0 0 no-repeat;}
section.l-front-cover-box .fireworks span:nth-child(1){top:40px;left:42px;width:159px;height:135px;background-size:136px 131px}
section.l-front-cover-box .fireworks span:nth-child(1) em{background-size:159px 135px;}
section.l-front-cover-box .fireworks span:nth-child(2){top:120px;right:4px;width:186px;height:176px;background-size:170px 173px}
section.l-front-cover-box .fireworks span:nth-child(2) em{background-size:186px 176px;}
section.l-front-cover-box .fireworks span:nth-child(3){top:370px;left:0;width:243px;height:234px;background-size:206px 228px;opacity:0;}
section.l-front-cover-box .fireworks span:nth-child(3) em{background-size:243px 234px;}
section.l-front-cover-box .title{opacity:0;position:absolute;top:465px;left:0;width:100%;height:177px;background:url(../images/title.png) no-repeat center;}
section.l-front-cover-box .share{opacity:0;position:absolute;top:725px;left:0;width:100%;height:115px;background:url(../images/fx.png) no-repeat center;}

section.l-front-cover-box.z-on .ship-box{-webkit-animation:ship2 1s forwards 2s linear}
section.l-front-cover-box.z-on .fireworks span:nth-child(1){-webkit-animation:fire1 .5s forwards 3s linear}
section.l-front-cover-box.z-on .fireworks span:nth-child(2){-webkit-animation:fire1 .5s forwards 4s linear}
section.l-front-cover-box.z-on .fireworks span:nth-child(3){-webkit-animation:fire2 .5s forwards 5s linear}
section.l-front-cover-box.z-on .fireworks span:nth-child(1) em{-webkit-animation:opacity .5s forwards 3.5s linear}
section.l-front-cover-box.z-on .fireworks span:nth-child(2) em{-webkit-animation:opacity .5s forwards 4.5s linear}
section.l-front-cover-box.z-on .fireworks span:nth-child(3) em{-webkit-animation:opacity .5s forwards 5.5s linear}
section.l-front-cover-box.z-on .title{-webkit-animation:opacity 1s forwards 6s linear}
section.l-front-cover-box.z-on .share{-webkit-animation:opacity 1s forwards 7s linear}

/*2014/12/22 修改*/
.m-guide-goldicon1{position:absolute;width:127px;height:127px;overflow:hidden;background:url(../images/gold-icon.png?_v=1.0) 0 0 no-repeat;left:218px;top:451px;z-index:20;opacity:0;}
.m-guide-goldicon2{position:absolute;width:141px;height:155px;overflow:hidden;background:url(../images/four-icon.png) 0 12px no-repeat;top:243px;z-index:20;left:325px;opacity:0;}
.m-guide-con{position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/guide-font1.png) 217px 154px no-repeat,url(../images/guide-line1.png) 253px 369px no-repeat,url(../images/guide-font2.png) 110px 602px no-repeat;opacity:0;background-color:rgba(6,23,44,.85);z-index:10;}
.m-guide-animate .m-guide-goldicon1{-webkit-animation:opacity 1s forwards linear;}
.m-guide-animate .m-guide-goldicon2,.m-guide-animate .m-guide-con{-webkit-animation:opacity 1s forwards 1s linear;}
.m-guide-box .m-guide-goldicon3{position:absolute;width:131px;height:130px;overflow:hidden;background:url(../images/no-icon.png?_v=1.0) 0 0 no-repeat;left:483px;top:764px;z-index:20;opacity:0;}
.m-guide-box .m-guide-goldicon4{position:absolute;width:130px;height:131px;overflow:hidden;background:url(../images/mao-icon.png) 0 0 no-repeat;right:131px;top:876px;z-index:20;opacity:0;}
.m-guide-box .m-guide-con1{position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/guide-font1.png) 217px 154px no-repeat,url(../images/guide-line2.png) 431px 806px no-repeat,url(../images/guide-font3.png) 337px 645px no-repeat;opacity:0;background-color:rgba(6,23,44,.85);z-index:10;}
.m-guide-box  .m-guide-goldicon1{opacity:1;}
.m-guide-box .m-guide-goldicon2,.m-guide-box .m-guide-con{opacity:0;z-index:10;}
.m-guide-animate1 .m-guide-goldicon3{-webkit-animation:opacity 1s forwards linear;}
.m-guide-animate1 .m-guide-goldicon4,.m-guide-animate1 .m-guide-con1{-webkit-animation:opacity 1s forwards 1.5s linear;}
.m-four-light{position:absolute;width:326px;height:321px;overflow:hidden;left:50%;top:50%;margin:-160px 0 0 -163px;opacity:0;}
.m-four-light span{display:block;height:100%;background:url(../images/light-bag.png) 0 0 no-repeat;}
.m-four-num,.m-five-num{position:absolute;width:27px;height:18px;overflow:hidden;background:url(../images/num-icon1.png) 0 0 no-repeat;top:18px;right:0;opacity:0;}
.m-four-icon{position:absolute;width:100%;height:100%;overflow:hidden;left:0;top:0;z-index:20;}
.m-play-animate .m-four-light{-webkit-animation:opacity2 2s backwards  linear;}
.m-play-animate .m-four-light span{-webkit-animation:roat 2s backwards  linear;}
.m-play-animate .m-four-num{-webkit-animation:num 1s backwards .5s linear;}

.m-play-animate .m-four-icon{background: url(../images/chest.png) no-repeat;}
.m-five-water,.m-five-water1,.m-five-water2{opacity:0;border-radius:50%;position:absolute;width:20px;height:20px;background:rgba(28,112,174,.6);border:3px #5b90b0 solid;bottom:8px;left:28px;}
.m-five-water1{bottom:20px;left:60px;}
.m-five-water2{bottom:0px;left:70px;}
.m-five-num{left:106px;bottom:90px;background:url(../images/num-icon2.png) 0 0 no-repeat;}
.m-play-animate .m-five-water{-webkit-animation:water1 1.5s backwards  linear;}
.m-play-animate .m-five-water1{-webkit-animation:water2 1.5s backwards linear;}
.m-play-animate .m-five-water2{-webkit-animation:water3 1.5s backwards linear;}
.m-play-animate .m-five-num{-webkit-animation:num 1s backwards .5s linear;}
.m-play-animate1 .m-five-water{-webkit-animation:water1 .5s backwards  linear;}
.m-play-animate1 .m-five-water1{-webkit-animation:water2 .5s backwards linear;}
.m-play-animate1 .m-five-water2{-webkit-animation:water3 .5s backwards linear;}
.m-play-animate1 .m-five-num{-webkit-animation:num .3s backwards .5s linear;}
.m-five-maoicon{position:absolute;width:100%;height:100%;overflow:hidden;z-index:20;left:0;top:0;}
section.l-game .anchor.z-on .m-five-maoicon{background:url(../images/anchor-1.png) no-repeat;}
.m-share-mask{background:url(../images/rloe.png) 434px 54px no-repeat;background-color:rgba(0,0,0,.5);position:absolute;z-index:100;width:100%;height:100%;left:0;top:0;}
.m-ship-loadname{position:absolute;width:305px;height:32px;overflow:hidden;text-align:center;top:543px;left:119px;-webkit-animation:float 1.5s infinite ease-in-out}
.m-end-shipbox{position:absolute;width:156px;height:18px;overflow:hidden;left:40px;top:137px;}